<div #siSelector id="si-selector-{{id}}" class="si-selector {{class}}" [class.disabled]="disabled"
     [class.invalid]="formModel.invalid && (formModel.dirty || formModel.formDirective?.submitted || ng1Form?.$submitted)">
  <ng-container *ngIf="!hideLabel">
    <si-label text="{{text}}"
              tooltipText="{{tooltipText}}"
              tooltipPosition="{{tooltipPosition}}"
              tooltipIcon="{{tooltipIcon}}">
    </si-label>
  </ng-container>
  <div class="si-selector_dropdown" siProvideParentForm>
    <p-dropdown #pDropdown #formModel="ngModel"
                [options]="options"
                [(ngModel)]="model"
                [name]="name"
                [placeholder]="placeholderTranslated"
                [filter]="true"
                emptyFilterMessage=""
                [autoDisplayFirst]="false"
                [autoWidth]="false"
                [disabled]="disabled"
                [resetFilterOnHide]="true"
                [showClear]="showClear"
                (onChange)="onChangeDropdownOption($event)"
                (onClick)="onClickDropdown()"
                (onHide)="onHideDropdown()"
                siValidation="{{rule}}" [siValidationElement]="validationElement">
      <ng-template let-outerContext *ngIf="selectedItem" pTemplate="selectedItem">
        <ng-container *ngTemplateOutlet="selectedItem; context: {$implicit: outerContext}"></ng-container>
      </ng-template>
      <ng-template let-outerContext *ngIf="item" pTemplate="item">
        <ng-container *ngTemplateOutlet="item; context: {$implicit: outerContext}"></ng-container>
      </ng-template>
    </p-dropdown>
    <div #siSelectorLoader class="si-selector_dropdown_loader"><i class="icon-spinner"></i></div>
    <si-validation-element #validationElement [formModel]="formModel" [ng1Form]="ng1Form"
                           class="si-selector_dropdown_validation"></si-validation-element>
  </div>
</div>
