@import '~src/scss/style-guide/style-guide-variables';

.si-selector {
  &_label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1px;

    & label {
      font-size: $font13;
      text-transform: uppercase;
      color: $color-main1;
      font-family: $font-bold-condensed;
    }
  }

  &_dropdown {
    position: relative;

    &_loader {
      opacity: 0;
      position: absolute;
      right: 48px;
      top: 0;
      display: none;
      -webkit-animation: spin 0.5s linear infinite;
      -moz-animation: spin 0.5s linear infinite;
      animation: spin 0.5s linear infinite;
      .icon-spinner:before {
        opacity: 1;
        margin-top: 5px;
        font-size: $font12;
        color: darken($color-lightgrey, 20);
        cursor: pointer;
        margin-right: 4px;
      }

      &.loading {
        opacity: 1;
        display: block;
      }
    }

    &_validation {
      position: absolute;
      right: 20px;
    }
  }

  &_total-count {
    background-color: lighten($color-lightgrey, 10);
    padding: 4px $pad-small;
    font-family: $font-condensed-italic;
    color: $color-darkgrey;
    font-size: 0.8em;
  }

  .ui-state-highlight {
    background-color: $color-lightgrey-soft;
  }

  .ui-corner-all {
    border-radius: 0;
  }

  .ui-shadow {
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  }

  .ui-inputtext {
    background-color: transparent;
    padding: .25em 0;

    &.ui-state-focus,
    &:focus {
      box-shadow: 0 0 0 transparent;
    }
  }

  .ui-dropdown {
    width: 100%;

    .ui-widget-content {
      border: none;
    }

    &.ui-state-disabled, &.ui-widget:disabled {
      opacity: inherit;
    }

    &.ui-state-focus, .ui-multiselect.ui-state-focus {
      box-shadow: 0 0 0 transparent;
    }

    &:hover {
      background-color: transparent;
      border-color: transparent;
    }

    &.ui-dropdown-open {

      &:before {
        visibility: visible;
        left: 0;
        width: 100%;
      }

      .ui-dropdown-trigger .ui-dropdown-trigger-icon {

        &:before {
          color: $color-main1;
        }
      }
    }

    &:before {
      background-color: $color-main1;
      content: '';
      height: 2px;
      left: 45%;
      top: 20px;
      position: absolute;
      transition-duration: .4s;
      transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      visibility: hidden;
      width: 10px;
      z-index: 1;
    }

    &:after {
      background-color: $color-lightgrey;
      content: '';
      height: 1px;
      top: 20px;
      position: absolute;
      width: 100%;
    }

    .ui-dropdown-label {
      font-family: $font-condensed;
      color: $color-darkgrey;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(100% - 68px);
      font-size: .95em;
      padding-top: 0;

      &.ui-placeholder {
        font-family: $font-condensed-italic;
        color: lighten($color-darkgrey, 25%);
        font-size: .95em;
      }
    }

    .ui-dropdown-panel {

      .ui-dropdown-empty-message {
        padding: 0;
      }

      .ui-dropdown-list {
        padding: 0;
      }

      .ui-dropdown-item {
        font-family: $font-condensed-italic;
        padding: $pad-small;
        min-height: 30px;
        line-height: 29px;
        font-size: $font-medium;
        color: $color-darkgrey;
        margin: 0;
        background-color: white;

        &:hover {
          color: $color-darkgrey;
          background-color: $color-lightgrey-soft;
        }
      }
    }

    .ui-dropdown-filter-container {
      border-bottom: 1px solid $color-lightgrey;
      padding: 0;

      &:before {
        content: "\ea73";
        font-family: 'icons';
        position: absolute;
        color: $color-main1;
        font-size: 0.95em;
        top: 0.3rem;
        left: 0.3rem;
      }
    }

    .ui-dropdown-filter {
      background-color: white;
      padding-left: 2rem;
      font-family: $font-condensed;
      font-size: $font15;
      color: $color-darkgrey;

      &:hover {
        background-color: white !important;
      }
    }

    .ui-dropdown-trigger .ui-dropdown-trigger-icon {
      margin-top: -.7em;
      margin-right: 0;
      left: initial;
      right: 20px;

      &:before {
        content: "\e986";
        font-family: 'icons';
        position: absolute;
        color: darken($color-lightgrey, 20);
        font-size: 0.95em;
      }
    }

    .ui-dropdown-clear-icon {
      right: 35px;
      margin-top: -.7em;
      z-index: 2;

      &::before {
        content: "\e960";
        font-family: 'icons';
        font-size: $font12;
        position: absolute;
        right: 0;
        top: 0;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .ui-state-default {
    border: 0;
    background-color: transparent;
  }

  &.invalid {

    .ui-dropdown {

      &:before {
        background-color: $color-danger;
      }

      &:after {
        background-color: $color-danger;
        height: 2px;
      }
    }
  }
}

.readmode .si-selector {

  &_label {

    label {
      color: darken($color-lightgrey, 20);
    }
  }

  .ui-dropdown {

    &:after {
      background-color: transparent;
      border-bottom: 1px dotted $color-lightgrey;
    }

    .ui-dropdown-label {
      width: 100%;
    }

    .ui-dropdown-trigger .ui-dropdown-trigger-icon {
      display: none;
    }

    .ui-dropdown-clear-icon {
      display: none;
    }
  }
}
