@import '~src/scss/style-guide/style-guide-variables';

.si-radio-dynamic {

  &_loader {
    opacity: 1;
    display: block;
    -webkit-animation: spin 0.5s linear infinite;
    -moz-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
    width: fit-content;

    .icon-spinner:before {
      opacity: 1;
      font-size: $font12;
      color: darken($color-lightgrey, 20);
    }
  }
}
