<div class="si-radio-dynamic" id="{{id}}">
  <si-label text="{{text}}"></si-label>
  <div *ngIf="!options?.length" class="si-radio-dynamic_loader"><i class="icon-spinner"></i></div>
  <div [class.layout_fields]="!vertical">
    <ng-container *ngFor="let option of options">
      <si-radio id="dynamic-{{id}}-{{option.id}}"
                name="dynamic-{{id}}-{{option.id}}"
                [(model)]="model"
                (modelChange)="onChangeModel($event)"
                [value]="option.id"
                [text]="option.name"
                class="{{class}}"
                [disabled]="disabled"
      ></si-radio>
    </ng-container>
  </div>
</div>