@import '~src/scss/style-guide/style-guide-variables';

.si-radio {
  position: relative;
  input[type='radio'] {
    display: none;
  }
  label {
    display: block;
    position: relative;
    padding: 0 8px 0 26px;
    z-index: 1;
    cursor: pointer;
    min-width: 20px;
    min-height: 20px;
    -webkit-transition: all 0.25s linear;
    font-size: $font15;
  }
  &_check {
    display: block;
    position: absolute;
    border: 2px solid $color-darkgrey;
    border-radius: 100%;
    height: 13px;
    width: 13px;
    top: 2px;
    left: 2px;
    z-index: 0;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
  }
  &_check:before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 5px;
    width: 5px;
    top: 2px;
    left: 2px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
    border: 2px solid transparent;
  }
  input[type='radio']:checked ~ .si-radio_check::before {
    background: $color-main1;
    border: 2px solid $color-main1;
  }
  input[type='radio']:checked ~ .si-radio_check {
    border: 2px solid $color-main1;
  }
  &:focus-within .si-radio_check_focus {
    height: 30px;
    width: 30px;
    top: -4px;
    left: -4px;
    display: block;
    position: absolute;
    opacity: 0;
    z-index: 0;
    background-color: $color-main1;
    border-radius: 100%;
    -webkit-animation: onFocus 0.5s; /* Safari 4.0 - 8.0 */
    animation: onFocus 0.5s;
  }
}

:host-context(.readmode) .si-radio {

  &_check {
    border-color: $color-lightgrey;
  }

  input[type='radio']:checked ~ .si-radio_check::before {
    background: $color-lightgrey;
    border-color: $color-lightgrey;
  }

  input[type='radio']:checked ~ .si-radio_check {
    border-color: $color-lightgrey;
  }

  &:focus-within .si-radio_check_focus {
    background-color: $color-lightgrey;
  }
}

@keyframes onFocus {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
