<div class="conf-training-team-crud-page">
  <h1>
    <ng-container *ngIf="trainingTeamId; else new">
      <span>{{'RVB_EDIT_TRAINING_TEAM' | translate}}</span>
    </ng-container>
    <ng-template #new>
      <span>{{'RVB_NEW_TRAINING_TEAM' | translate}}</span>
    </ng-template>
  </h1>
  <div class="content">
    <div class="card">
      <form #confTrainingTeamNewForm="ngForm"
            id="confTrainingTeamNewForm"
            name="confTrainingTeamNewForm"
            (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <si-input id="codeFilter"
                      name="codeFilter"
                      text="RVB_CODE"
                      placeholder="RVB_WRITE_HERE"
                      [(model)]="model.codigo"
                      rule="generic.fieldNotNull"
            ></si-input>
          </div>
          <div class="col-12 col-sm-6 col-md-9">
            <si-input id="descriptionFilter"
                      name="descriptionFilter"
                      text="RVB_DESCRIPTION"
                      placeholder="RVB_WRITE_HERE"
                      [(model)]="model.nombre"
                      rule="generic.fieldNotNull"
            ></si-input>
          </div>
        </div>
        <div class="d-flex justify-content-end mt-4">
          <button class="rvb-button_secondary mr-2"
                  type="button"
                  (click)="onCancel()">
            {{'RVB_CANCEL' | translate}}
          </button>
          <button class="rvb-button"
                  type="submit"
                  [disabled]="confTrainingTeamNewForm.invalid">
            {{'RVB_SAVE' | translate}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
