<h1>{{'RVB_DONORS_MANAGEMENT' | translate}}</h1>
<div class="content">
  <div class="card">
    <div class="row">
      <div class="col">
        <si-selector id="localization"
                     name="localization"
                     text="RVB_LOCATION"
                     placeholder="RVB_SELECT_PLACEHOLDER"
                     [(model)]="localization"
                     path="https://jsonplaceholder.typicode.com/users"
                     backSearch>
        </si-selector>
      </div>
      <div class="col">
        <si-selector id="proposalType"
                     name="proposalType"
                     text="RVB_PROPOSAL_TYPE"
                     placeholder="RVB_SELECT_PLACEHOLDER"
                     [(model)]="proposalType"
                     path="https://jsonplaceholder.typicode.com/users"
        ></si-selector>
      </div>
      <div class="col">
        <si-selector id="proposalType2"
                     name="proposalType2"
                     text="RVB_PROPOSAL_TYPE"
                     placeholder="RVB_SELECT_PLACEHOLDER"
                     [(model)]="proposalType2"
                     path="https://jsonplaceholder.typicode.com/users"
        ></si-selector>
      </div>
      <div class="col">
        <si-selector id="proposalType3"
                     name="proposalType3"
                     text="RVB_PROPOSAL_TYPE"
                     placeholder="RVB_SELECT_PLACEHOLDER"
                     [(model)]="proposalType3"
                     path="https://jsonplaceholder.typicode.com/users"
        ></si-selector>
      </div>
    </div>
  </div>
  <div class="card">
    <si-table [lazy]="false">
      <p-table #pTable dataKey="id"
               [value]="patients"
               [rows]="3"
               [rowsPerPageOptions]="[1,2,3]">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name" pResizableColumn>
              Nombre
              <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="surname" pResizableColumn>
              Apellido
              <p-sortIcon field="surname"></p-sortIcon>
            </th>
            <th>
                  <span pTooltip="Fecha de nacimiento"
                        tooltipPosition="top">Fecha de nacimiento</span>
            </th>
            <th>DNI</th>
            <th pSortableColumn="name" pResizableColumn>
              Nombre
              <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="surname" pResizableColumn>
              Apellido
              <p-sortIcon field="surname"></p-sortIcon>
            </th>
            <th>
                  <span pTooltip="Fecha de nacimiento"
                        tooltipPosition="top">Fecha de nacimiento</span>
            </th>
            <th>DNI</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-patient class="ui-resizable-column">
          <tr [pSelectableRow]="patient" class="si-table_row_hover">
            <td>{{patient.name}}</td>
            <td>{{patient.surname}}</td>
            <td>{{patient.birthDate}}</td>
            <td class="si-table_td-overflow">
              XX
            </td>
            <td>{{patient.name}}</td>
            <td>{{patient.surname}}</td>
            <td>{{patient.birthDate}}</td>
            <td class="si-table_td-overflow">
              XX
            </td>
          </tr>
        </ng-template>
      </p-table>
    </si-table>
  </div>
</div>
