@import '~src/scss/style-guide/style-guide-variables';

.ui-accordion {

  &.ui-widget {
    font-family: $font-regular;
  }

  .ui-state-active, .ui-state-default:hover, .ui-widget-content {
    background: transparent;
    color: inherit;
  }

  .ui-accordion-header {
    background: transparent !important;
    margin: 0 0 5px 0 !important;
    border: 0 !important;
    padding-right: 30px;

    a:not(.si-accordion_button) {
      color: inherit !important;
      padding: 0 !important;
    }

    &.ui-state-active {

      .ui-accordion-toggle-icon {

        &:after {
          transform: rotate(180deg);
          transition: all 0.25s;
        }
      }
    }

    .ui-accordion-toggle-icon {

      &:after {
        content: "\e986";
        font-family: icons, sans-serif;
        position: absolute;
        right: 8px;
        transition: all 0.25s;
      }
    }
  }

  .ui-accordion-content {
    padding: 0 !important;
    margin-bottom: 5px;
  }
}
