@import '~src/scss/style-guide/style-guide-variables';

.ui-tooltip {
  z-index: 10007 !important;

  &-text {
    padding: .4em 1em !important;
    font-size: $font12;
    cursor: default;
  }

  &.white {

    .ui-tooltip-text {
      background-color: white;
      color: $color-darkgrey;
    }

    &.ui-tooltip-top .ui-tooltip-arrow {
      border-top-color: white;
    }

    &.ui-tooltip-right .ui-tooltip-arrow {
      border-right-color: white;
    }

    &.ui-tooltip-bottom .ui-tooltip-arrow {
      border-bottom-color: white;
    }

    &.ui-tooltip-left .ui-tooltip-arrow {
      border-left-color: white;
    }
  }
}
