@import '~src/scss/style-guide/style-guide-variables';

.ui-dialog {
  width: 30%;
  top: 14vh !important;
  white-space: normal;

  &.ui-dialog-resizable .ui-dialog-content {
    overflow: inherit;
  }

  &.ui-corner-all {
    border-radius: 0;
  }

  &.ui-shadow {
    box-shadow: none;
  }

  .ui-dialog-titlebar-icon {

    &:hover {
      border-color: transparent !important;
      background-color: transparent !important;
    }

    span {

      &:hover {

        &::before {
          opacity: 0.7;
        }
      }

      &::before {
        content: "\e960";
        font-family: 'icons';
        position: absolute;
        right: 0.2rem;
        top: 0;
      }
    }
  }

  &.ui-widget {

    * {
      box-sizing: initial;
    }

    .ui-widget-header {
      background: transparent !important;
    }

    .ui-dialog-titlebar {
      padding: 0.3em !important;
      position: relative;

    }

    .ui-widget-content {
      color: #444;
    }
  }

  &.rvb-dialog-small {
    width: 33%;
  }

  &.rvb-dialog-medium {
    width: 50%;
  }

  &.rvb-dialog-big {
    width: 70%;
  }

  &.rvb-dialog_no_patient_bar {
    top: 9vh !important;
  }

  .rvb-dialog {

    &_icon_alert {
      font-size: 22px;
      color: $color-danger;
      margin-right: $margin-small;
    }

    &_text {

      &-red {
        color: $color-danger;
      }
    }

    &-title {
      font-family: $font-bold;
    }
  }
}

@media (max-width: map-get($media_breakpoints, md)) {

  .ui-dialog {
    width: 80%;

    &.rvb-dialog-small {
      width: 80%;
    }

    &.rvb-dialog-medium {
      width: 80%;
    }

    &.rvb-dialog-big {
      width: 80%;
    }
  }
}
