@import '~src/scss/style-guide/style-guide-variables';

.go-to-route-icon {

  &_tooltip {
    color: $color-shadow;
  }

  &_text {
    color: $color-darkgrey;
    font-family: $font-condensed;
    font-size: $font15;
  }

  &:hover {
    opacity: 0.7;
  }
}

@media (max-width: map-get($media_breakpoints, xl)) {

  :host-context(.mobile) {

    .go-to-route-icon {

      i {
        font-size: $mob-icon-size;
      }
    }
  }
}
