<div none class="go-to-route-icon">
  <ng-container *ngIf="showText; else defaultView">
    <a [routerLink]="href" [queryParams]="params" [queryParamsHandling]="merge" class="pointer">
      <i class="{{icon}} {{iconClass}}"></i>
      <span class="margin-small-left go-to-route-icon_text">{{tooltip | translate}}</span>
    </a>
  </ng-container>
  <ng-template #defaultView>
    <a [routerLink]="href" [queryParams]="params" [queryParamsHandling]="merge">
      <span vertical pTooltip="{{tooltip | translate}}" tooltipPosition="{{tooltipPosition}}" class="go-to-route-icon_tooltip">
        <i class="{{icon}} {{iconClass}} pointer"></i>
      </span>
    </a>
  </ng-template>
</div>
