@import '~src/scss/style-guide/style-guide-variables';

.si-datepicker {

  &_label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1px;
    min-height: 21px;

    & label {
      font-size: $font13;
      text-transform: uppercase;
      color: $color-main1;
      font-family: $font-bold-condensed;
    }
  }

  &_calendar {
    position: relative;

    &_validation {
      position: absolute;
      right: 12px;
      top: 0;
    }

    &.open {

      &:after {
        visibility: visible;
        left: 0;
        width: 100%;
      }
    }

    &:after {
      background-color: $color-main1;
      content: '';
      height: 2px;
      left: 50%;
      top: 20px;
      position: absolute;
      transition-duration: .4s;
      transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      visibility: hidden;
      width: 10px;
      z-index: 1;
    }

    .ui-calendar {
      .ui-calendar-button {
        width: auto;
      }
    }

    .ui-state-disabled, .ui-widget:disabled {
      opacity: inherit;
    }

    span.ui-calendar {
      width: 100%;
      height: 20px;
      border-bottom: 1px solid $color-lightgrey;
      display: flex;
      align-items: center;

      select {
        border: 0;
        border-bottom: 1px solid $color-lightgrey;
        font-family: $font-condensed;
        color: $color-darkgrey;
        font-size: 1rem;
        margin-right: $margin-small;
        min-width: 7rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url('~src/assets/images/select_arrow.svg') 96% / 15% no-repeat;
      }

      /* CAUTION: IE hackery ahead */
      select::-ms-expand {
        display: none; /* remove default arrow on ie10 and ie11 */
      }

      /* target Internet Explorer 9 to undo the custom arrow */
      @media screen and (min-width: 0 \0
      ) {
        select {
          background: none \9
        ;
          padding: 5px \9
        ;
        }
      }

      input::placeholder {
        font-family: $font-condensed-italic;
        color: lighten($color-darkgrey, 25%);
      }

      .ui-button-icon-only .ui-button-text {
        padding: 0;
        width: 0;
      }

      .ui-widget.ui-button,
      .ui-button {
        border: none;
        color: transparent;
        background: transparent;
        transition: none;
        position: absolute;
        right: 0;
        top: 0;

        &:hover {
          opacity: 0.7;
        }

        .ui-button-icon-left {
          top: 0;
          left: 0;
          margin-top: 0;
          margin-left: -0.8em;
          width: 1em;
          height: auto;

          &:after {
            content: '\e942';
            font-family: 'icons';
            color: lighten($color-darkgrey, 10);
            font-size: 0.8rem;
          }
        }
      }

      .ui-inputtext {
        width: calc(100% - 30px);
        background-color: transparent;
        padding: 0 .25em 0 0;
        border-color: transparent;
        font-family: $font-condensed;
        color: $color-darkgrey;
        font-size: 0.95em;
        border-bottom: none !important;
        text-overflow: ellipsis;

        &.ui-state-focus,
        &:focus {
          box-shadow: 0 0 0 transparent;
        }
      }

      .icon-closex {
        cursor: pointer;
        font-size: $font12;
        color: lighten($color-darkgrey, 20);
        position: absolute;
        right: 2em;

        &:hover {
          opacity: 0.7;
        }
      }

      .ui-datepicker {

        .ui-datepicker-title {
          margin: 0 1.6em;
        }

        .ui-datepicker-group {

          .ui-datepicker-header {

            .ui-datepicker-prev {

              .pi-chevron-left::before {
                content: '\e912';
                font-family: 'icons';
                font-size: 0.7rem;
                cursor: pointer;
              }
            }

            .ui-datepicker-next {

              .pi-chevron-right::before {
                content: '\e913';
                font-family: 'icons';
                font-size: 0.7rem;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .ui-datepicker {

      &.ui-shadow {
        box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
      }

      &.ui-widget-content {
        border: 0;
        background-color: $color-white;
        color: $color-darkgrey;
        padding: 0 $pad-small;
        border-radius: 0;
        top: 22px !important;
      }

      &.ui-widget .ui-datepicker-calendar {

        td,
        th {
          font-family: $font-condensed;
        }

        thead th {
          background-color: $color-white;
        }

        td {
          border: 0;
          cursor: pointer;

          a {
            border-radius: 5px;

            &.ui-state-active {
              background-color: $color-main1;
            }
          }
        }
      }

      .ui-widget-header {
        border: 0;
        background: $color-white;
        color: $color-darkgrey;
        font-weight: normal;
      }

      .ui-timepicker {
        padding: 0;
        font-size: 1rem;

        .pi-chevron-up::before {
          content: '\eabf';
          font-family: 'icons';
        }

        .pi-chevron-down::before {
          content: '\e986';
          font-family: 'icons';
          position: absolute;
          margin-top: -0.5rem;
          left: 0.3rem;
        }

        & > div {
          position: relative;

          a {
            display: contents;

            span {
              display: block;
              height: 1rem;
            }
          }
        }
      }
    }
  }

  &.invalid {

    .si-datepicker_calendar {

      span.ui-calendar {
        border-bottom: 2px solid $color-danger;
      }

      &:after {
        background-color: $color-danger;
      }
    }
  }

  &.end-col {

    .si-datepicker_calendar {

      .ui-datepicker {

        &.ui-widget-content {
          right: 0px;
          left: auto !important;
        }
      }
    }
  }
}

.readmode .si-datepicker {

  &_label {

    label {
      color: darken($color-lightgrey, 20);
    }
  }

  &_calendar {

    span.ui-calendar {
      border-bottom: 1px dotted $color-lightgrey;

      input::placeholder {
        color: darken($color-lightgrey, 20);
      }

      .ui-widget.ui-button,
      .ui-button {
        display: none;
      }

      .icon-closex {
        display: none;
      }
    }
  }

  &.invalid {

    .si-datepicker_calendar {

      span.ui-calendar {
        border-bottom: 1px dotted $color-lightgrey;
      }
    }
  }
}

.open-up {

  & .si-datepicker_calendar {

    & .ui-calendar {

      & .ui-widget-content {
        top: -295px !important;
      }
    }
  }
}
