<div id="si-datepicker-{{id}}" class="si-datepicker {{class}}" [class.disabled]="disabled"
     [class.invalid]="formModel.invalid && (formModel.dirty || formModel.formDirective?.submitted)">
  <div class="si-datepicker_label">
    <label>{{ text | translate }}</label>
  </div>
  <div class="si-datepicker_calendar" [class.open]="pCalendar.overlayVisible" siProvideParentForm>
    <p-calendar #pCalendar #formModel="ngModel"
                [name]="name"
                [placeholder]="placeholderTranslated"
                [(ngModel)]="modelDate"
                [disabled]="disabled"
                [minDate]="minDate"
                [maxDate]="maxDate"
                [defaultDate]="defaultDate"
                [locale]="localeConfig"
                [timeOnly]="timeOnly"
                [showTime]="showTime"
                [monthNavigator]="true"
                [yearNavigator]="true"
                [yearRange]="yearRange"
                [view]="view"
                [showIcon]="true"
                (onSelect)="onSelectDate($event)"
                (onClose)="onCloseCalendar()"
                (onInput)="onChangeInput($event)"
                siValidation="{{rule}}" [siValidationElement]="validationElement"></p-calendar>
    <si-validation-element #validationElement [formModel]="formModel"
                           class="si-datepicker_calendar_validation"></si-validation-element>
  </div>
</div>
