<div class="rvb-breadcrumb d-flex">
  <div *ngFor="let item of breadcrumbs; first as isFirst" class="rvb-breadcrumb_item">
    <span *ngIf="!isFirst">&nbsp;|&nbsp;</span>
    <a [routerLink]="item.url">{{item.label | translate}}</a>
  </div>
</div>
