<div class="translation">
  <div>{{ 'RVB_SELECT_LANGUAGE' | translate }}</div>
  <div class="translation-buttons">
    <a [ngClass]="{'active': activeLang == localeKeyShort.ES}" (click)="changeLanguage(localeKeyShort.ES)">Español</a>
    <a [ngClass]="{'active': activeLang == localeKeyShort.ENGB}" (click)="changeLanguage(localeKeyShort.ENGB)">Inglés</a>
  </div>
</div>
