<div class="rvb-delete-icon">
  <div (click)="onClickIcon($event)">
    <span pTooltip="{{tooltip | translate}}" tooltipPosition="{{tooltipPosition}}">
      <i class="{{icon}} pointer"></i>
    </span>
  </div>
  <ng-container *ngIf="displayDialog">
    <p-dialog [(visible)]="displayDialog"
              modal="true"
              dismissableMask="true"
              appendTo="body"
              styleClass="rvb-dialog-small"
              [closable]="false">
      <div class="rvb-delete-icon_dialog">
        <div class="rvb-delete-icon_dialog_header d-flex justify-content-center">
          <div>
            <i class="icon-nottoday icon-alert"></i>
          </div>
          <div class="rvb-delete-icon_dialog_header_title">
            <span translate="{{titleDialog}}"></span>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <button class="rvb-button mr-2" (click)="onClickCloseDialog(false)">
            {{'RVB_CANCEL' | translate}}
          </button>
          <button class="rvb-button_main" (click)="onClickCloseDialog(true)">
            {{'RVB_ACCEPT' | translate}}
          </button>
        </div>
      </div>
    </p-dialog>
  </ng-container>
</div>

