@import '~src/scss/style-guide/style-guide-variables';

.rvb-delete-icon {

  i {
    color: $color-shadow;

    &.font-color-main1 {
      color: $color-main1;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &_dialog {

    &_header {

      i {
        color: $color-danger;
        pointer-events: none;
      }

      &_title {
        margin-left: 8px;
        font-family: $font-bold;
      }
    }
  }
}
