@import '~src/scss/style-guide/style-guide-variables';

.si-input {

  &_input {
    position: relative;
    display: flex;

    input {
      width: 100%;
      font-family: $font-condensed;
      font-size: $font15;
      color: darken($color-lightgrey, 50);
      background-color: transparent;
      border: none;

      &[type=number]::-webkit-inner-spin-button,
      &[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type=number] {
        -moz-appearance:textfield;
      }

      &::placeholder {
        font-family: $font-condensed-italic;
        color: lighten($color-darkgrey, 25%);
      }
    }

    &:before {
      background-color: $color-lightgrey;
      content: '';
      height: 1px;
      top: 20px;
      position: absolute;
      width: 100%;
    }

    &:after {
      background-color: $color-main1;
      content: '';
      height: 2px;
      left: 45%;
      top: 20px;
      position: absolute;
      transition-duration: .4s;
      transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      visibility: hidden;
      width: 10px;
      z-index: 1;
    }

    &:focus-within {

      &:after {
        visibility: visible;
        left: 0;
        width: 100%;
      }
    }

    &-arrows-container {
      width: 1.4em;
    }

    &-arrows {
      position: absolute;
      right: 0;
      bottom: 3px;

      & > div {
        height: 0.7em;
        cursor: pointer;

        i:before {
          font-size: 0.95em;
          color: darken($color-lightgrey, 20);
        }
      }
    }
  }

  &.invalid {

    .si-input_input {

      &:before {
        background-color: $color-danger;
        height: 2px;
      }

      &:after {
        background-color: $color-danger;
      }
    }
  }

  &_caps-lock {
    font-family: $font-bold-condensed;
    color: $color-alert1;
    font-size: 0.9rem;
    margin-top: $margin-small;
  }
}

:host-context(.readmode) .si-input {

  &_label {
    .si-input-tooltip {
      pointer-events: all !important;
    }

    label {
      color: darken($color-lightgrey, 20);
    }
  }

  &_input {

    &:before {
      background-color: transparent;
      border-bottom: 1px dotted $color-lightgrey;
    }
  }

  &.invalid {

    .si-input_input {

      &:before {
        background-color: transparent;
      }

      &:after {
        background-color: transparent;
      }
    }
  }
}
