<div class="si-input {{class}}"
     [class.disabled]="disabled"
     [class.invalid]="formModel.invalid && (formModel.dirty || formModel.formDirective?.submitted)">
  <si-label text="{{text}}"
            tooltipText="{{tooltipText}}"
            tooltipPosition="{{tooltipPosition}}"
            tooltipIcon="{{tooltipIcon}}">
  </si-label>
  <div class="si-input_input" siProvideParentForm>
    <input #formModel="ngModel"
           type="{{type}}"
           id="si-input-{{id}}"
           name="{{name}}"
           autocomplete="off"
           placeholder="{{placeholder | translate}}"
           [disabled]="disabled"
           [ngModel]="model"
           (ngModelChange)="onChangeModel($event)"
           siValidation="{{rule}}" [siValidationElement]="validationElement">
    <si-validation-element #validationElement [formModel]="formModel"></si-validation-element>
    <div *ngIf="type === 'number'" class="si-input_input-arrows-container">
      <div class="si-input_input-arrows">
        <div (click)="onClickArrow(true)" [class.disabled]="(max || max == 0) && model == max">
          <i class="icon-up"></i>
        </div>
        <div (click)="onClickArrow(false)" [class.disabled]="(min || min == 0) && model == min">
          <i class="icon-down"></i>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="capsLock" class="si-input_caps-lock" translate="CORE_CAPS_LOCK_ACTIVATED"></div>
</div>
