@import '~src/scss/style-guide/style-guide-variables';

.si-selector-multiple {

  &_chip {
    background-color: #00bcd4;
    margin-right: 10px;
  }

  &.detail-mode {

    .si-selector-multiple_label {
      min-height: 0;
    }

    .ui-multiselect {

      .ui-multiselect-label {
        white-space: initial;
        width: 100%;
      }

      .ui-multiselect-label-container {
        font-size: $font15;
        width: 100%;
        min-height: 80px;
        border: 1px solid darken($color-lightgrey, 5);
        border-radius: 2px;
        background-color: $color-white;
        padding: $pad-small/2;
        margin-top: 5px;
      }

      .ui-multiselect-trigger {
        display: none;
      }

      .ui-multiselect-panel {
        min-width: 55%;
        width: 55%;
      }

      &:after, &:before {
        height: 0;
      }

      .si-selector-multiple_chip {
        font-family: $font-bold-condensed;
        display: inline-block;
        border: 1px solid lighten($color-darkgrey, 30%);
        border-radius: 5px;
        background-color: $color-white;
        line-height: 22px;
        color: lighten($color-darkgrey, 30%);
        font-size: $font13;
        margin: 4px 12px 4px 4px;
        min-width: 100px;
        padding: 0 4px;

        &_remove {
          margin-left: 8px;
        }
      }
    }

    .si-selector-multiple_dropdown {

      &_loader, &_validation {
        top: -15px;
      }
    }

    &.invalid {

      .ui-multiselect {

        &:after {
          height: 0;
        }

        .ui-multiselect-label-container {
          border: 2px solid $color-danger;
        }
      }
    }
  }

  &.compact {

    .ui-multiselect {
      background-color: lighten($color-lightgrey, 10%);
      border-radius: 0.3rem;
      padding: .2rem .3rem 0rem 1rem;

      .ui-multiselect-label {
        width: auto;
        margin-right: 25px;
      }

      .ui-multiselect-panel {
        left: auto !important;
        right: 0;
        width: 100%;

        .ui-multiselect-item {
          border-bottom: 1px solid $color-lightgrey;
          padding: 0.6rem 0.3rem;
        }
      }

      &:hover {
        background-color: lighten($color-lightgrey, 10%);
      }

      &:after, &:before {
        height: 0;
      }
    }

    .si-selector-multiple_label {
      display: none;
    }

    &.empty {

      .ui-multiselect-label-container {

        span {
          font-family: $font-condensed;
        }
      }
    }
  }

  &.empty {

    .ui-multiselect-label-container {

      span {
        font-family: $font-condensed-italic;
        color: lighten($color-darkgrey, 25%);
        font-size: .95em;
      }
    }
  }

  &_label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1px;
    min-height: 21px;

    & label {
      font-size: $font13;
      text-transform: uppercase;
      color: $color-main1;
      font-family: $font-bold-condensed;
    }
  }

  &_dropdown {
    position: relative;

    &_loader {
      opacity: 0;
      position: absolute;
      right: 48px;
      top: 0;
      display: none;
      -webkit-animation: spin 0.5s linear infinite;
      -moz-animation: spin 0.5s linear infinite;
      animation: spin 0.5s linear infinite;
      .icon-spinner:before {
        opacity: 1;
        margin-top: 5px;
        font-size: $font12;
        color: darken($color-lightgrey, 20);
        cursor: pointer;
        margin-right: 4px;
      }

      &.loading {
        opacity: 1;
        display: block;
      }
    }

    &_validation {
      position: absolute;
      right: 20px;
    }
  }

  .ui-corner-all {
    border-radius: 0;
  }

  .ui-shadow {
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  }

  .ui-inputtext {
    background-color: transparent;
    padding: .25em 0;

    &.ui-state-focus,
    &:focus {
      box-shadow: 0 0 0 transparent;
    }
  }

  .ui-multiselect {
    width: 100%;
    border: 0;
    background-color: transparent;

    .ui-widget-content {
      border: none;
    }

    &.ui-state-disabled, &.ui-widget:disabled {
      opacity: inherit;
    }

    &.ui-state-focus, .ui-multiselect.ui-state-focus {
      box-shadow: 0 0 0 transparent;
    }

    &:hover {
      background-color: transparent;
      border-color: transparent;
    }

    &.ui-multiselect-open {

      &:before {
        visibility: visible;
        left: 0;
        width: 100%;
      }

      .ui-multiselect-trigger .ui-multiselect-trigger-icon {
        &:before {
          color: $color-main1;
        }
      }
    }

    &:before {
      background-color: $color-main1;
      content: '';
      height: 2px;
      left: 45%;
      top: 20px;
      position: absolute;
      transition-duration: .4s;
      transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      visibility: hidden;
      width: 10px;
      z-index: 1;
    }

    &:after {
      background-color: $color-lightgrey;
      content: '';
      height: 1px;
      top: 20px;
      position: absolute;
      width: 100%;
    }

    .ui-multiselect-label {
      font-family: $font-condensed;
      color: $color-darkgrey;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(100% - 68px);
      white-space: nowrap;
      background-color: inherit;
      padding: 0 0 0.25em 0;
      font-size: .95em;

      &.ui-placeholder {
        font-family: $font-condensed-italic;
        color: lighten($color-darkgrey, 25%);
      }
    }

    .si-selector-multiple_clean_icon {
      cursor: pointer;
      color: lighten($color-darkgrey, 20);
      position: absolute;
      right: 2.2em;
      top: 50%;
      font-size: 1em;
      height: 1em;
      margin-top: -.7em;

      &::before {
        content: "\e960";
        font-family: 'icons';
        font-size: $font12;
        position: absolute;
        right: 0;
        top: 4px;
      }

      &:hover {
        opacity: 0.7;
      }
    }

    .ui-multiselect-panel {
      padding: 0;
      width: 100%;

      .ui-multiselect-items-wrapper {
        padding: 0;
        background-color: white;
      }

      .ui-multiselect-item {
        font-family: $font-condensed-italic;
        padding: 0.9rem;
        min-height: 30px;
        line-height: 29px;
        font-size: $font-medium;
        color: darken($color-lightgrey, 20%);
        margin: 0;

        span {
          white-space: normal;
          line-height: 1.1;
          display: flex;
        }

        &.ui-state-highlight {
          background-color: transparent;
        }

        &:hover, &.si-selector-multiple_item--highlight {
          color: darken($color-lightgrey, 20%);
          background-color: $color-lightgrey-soft;
        }

        .ui-chkbox {
          margin: 0 0.7em 0 0.2em;
          position: relative;
          float: left;

          .ui-chkbox-box {
            border: 2px solid rgba(0, 0, 0, .54);
            border-radius: 2px;
            width: 1em;
            height: 1em;
            line-height: 1em;

            &.ui-state-active {
              border: 2px solid $color-main1;
              background: $color-main1 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgdmVyc2lvbj0iMS4xIgogICB2aWV3Qm94PSIwIDAgMSAxIgogICBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWluWU1pbiBtZWV0Ij4KICA8cGF0aAogICAgIGQ9Ik0gMC4wNDAzODA1OSwwLjYyNjc3NjcgMC4xNDY0NDY2MSwwLjUyMDcxMDY4IDAuNDI5Mjg5MzIsMC44MDM1NTMzOSAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IE0gMC4yMTcxNTcyOSwwLjgwMzU1MzM5IDAuODUzNTUzMzksMC4xNjcxNTcyOSAwLjk1OTYxOTQxLDAuMjczMjIzMyAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IgogICAgIGlkPSJyZWN0Mzc4MCIKICAgICBzdHlsZT0iZmlsbDojZmZmZmZmO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lIiAvPgo8L3N2Zz4K);
              transition: background 0.25s linear;
              -webkit-transition: background 0.25s linear;
            }
          }
        }
      }
    }

    .ui-multiselect-header {
      padding: 0;
      margin-bottom: 0;
      min-height: auto;
      background: transparent;
      border: none;
    }

    .ui-multiselect-filter-container {
      border-bottom: 1px solid $color-lightgrey !important;
      width: 100%;

      &:before {
        content: "\ea73";
        font-family: 'icons';
        position: absolute;
        color: $color-main1;
        font-size: 0.95em;
        top: 0.3rem;
        left: 0.3rem;
      }

      .ui-inputtext {
        padding-left: 2rem;
        font-family: $font-condensed;
        font-size: $font15;
        color: $color-darkgrey;
        border: none;
        background-color: white;

        &:hover {
          background-color: white !important;
        }
      }
    }

    .ui-multiselect-close {
      display: none;
    }

    .ui-multiselect-trigger {
      border: 0;
      background-color: transparent;

      .ui-multiselect-trigger-icon {
        margin-top: -.7em;

        &:before {
          content: "\e986";
          font-family: 'icons';
          position: absolute;
          color: darken($color-lightgrey, 20);
          font-size: 0.95em;
        }
      }
    }
  }

  &.invalid {

    .ui-multiselect {

      &:before {
        background-color: $color-danger;
      }

      &:after {
        background-color: $color-danger;
        height: 2px;
      }
    }
  }
}

.si-selector-multiple.compact {

  .ui-multiselect {
    padding-top: 1px;

    .ui-multiselect-label {
      width: auto;
    }

    .ui-multiselect-label-container {
      height: 21px;
    }

    .ui-multiselect-panel {
      left: auto !important;
      right: 0;
      width: 100%;
    }
  }
}

.readmode .si-selector-multiple {

  &_label {

    label {
      color: darken($color-lightgrey, 20);
    }
  }

  .ui-multiselect {

    &:after {
      background-color: transparent;
      border-bottom: 1px dotted $color-lightgrey;
    }

    .ui-multiselect-label {
      width: 100%;
    }

    .ui-multiselect-trigger {
      display: none;
    }

    .si-selector-multiple_clean_icon {
      display: none;
    }
  }
}
