<div #siSelectorMultiple id="si-selector-multiple-{{id}}" class="si-selector-multiple {{class}}"
     [class.disabled]="disabled"
     [class.compact]="compact"
     [class.detail-mode]="detailMode"
     [class.empty]="!model || model.length === 0"
     [class.invalid]="formModel.invalid && (formModel.dirty || formModel.formDirective?.submitted)">
  <div class="si-selector-multiple_label">
    <si-label text="{{text}}"
              tooltipText="{{tooltipText}}"
              tooltipPosition="{{tooltipPosition}}"
              tooltipIcon="{{tooltipIcon}}">
    </si-label>
  </div>
  <div class="si-selector-multiple_dropdown" siProvideParentForm>
    <p-multiSelect #pMultiSelect #formModel="ngModel"
                   [options]="options"
                   [(ngModel)]="model"
                   [name]="name"
                   [defaultLabel]="placeholderTranslated"
                   [scrollHeight]="scrollHeight"
                   [displaySelectedLabel]="displaySelectedLabel"
                   [maxSelectedLabels]="5"
                   [showToggleAll]="false"
                   [filter]="filter"
                   [resetFilterOnHide]="resetFilterOnHide"
                   [disabled]="disabled"
                   (onChange)="onChangeMultiSelectModel($event)"
                   (onClick)="onClickMultiSelect()"
                   (onHide)="onHideMultiSelect()"
                   siValidation="{{rule}}" [siValidationElement]="validationElement">
      <ng-template let-outerContext *ngIf="selectedItems" pTemplate="selectedItems">
        <ng-container *ngTemplateOutlet="selectedItems; context: {$implicit: outerContext}"></ng-container>
      </ng-template>
      <ng-template let-outerContext *ngIf="item" pTemplate="item">
        <ng-container *ngTemplateOutlet="item; context: {$implicit: outerContext}"></ng-container>
      </ng-template>
    </p-multiSelect>
    <div #siSelectorMultipleLoader class="si-selector-multiple_dropdown_loader"><i class="icon-spinner"></i></div>
    <si-validation-element #validationElement [formModel]="formModel"
                           class="si-selector-multiple_dropdown_validation"></si-validation-element>
  </div>
</div>
