@import '~src/scss/style-guide/style-guide-variables';

@mixin animation($str) {
  -webkit-animation: $str;
  -moz-animation: $str;
  -o-animation: $str;
  animation: $str;
}

.si-loader {
  position: absolute;
  &_container {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    z-index: 3000;
    &_svg {
      position: fixed;
      font-size: 20vh;
      bottom: 8vh;
      right: 5vh;
      z-index: 9999;
      #spinner {
        @include animation(spin 2s infinite linear);
      }
    }
  }
}
