<div class="si-loader">
  <div class="si-loader_container" *ngIf="show">
    <div class="si-loader_container_svg">
      <svg height="1em" viewBox="0 0 116.56 116.56">
        <defs>
          <clipPath id="a">
            <path d="M0 768h1366V0H0v768z"/>
          </clipPath>
          <clipPath id="c">
            <path d="M0 768h1366V0H0v768z"/>
          </clipPath>
          <radialGradient id="b" gradientUnits="userSpaceOnUse" cy="76.684" cx="119.38"
                          gradientTransform="matrix(1.5745 .04808 -.07211 2.36119 -84.522 -127.662)" r="28.152">
            <stop stop-color="#36A4D0" offset="1"/>
          </radialGradient>
          <radialGradient id="d" gradientUnits="userSpaceOnUse" cy="82.076" cx="65.735"
                          gradientTransform="matrix(.9706 -1.86752 .88647 .46072 -54.705 153.531)" r="41.052">
            <stop stop-color="#00deff" offset="0"/>
            <stop stop-color="#098ee9" stop-opacity=".749" offset=".466"/>
            '
            <stop stop-color="#138bd4" stop-opacity=".498" offset=".728"/>
            <stop stop-color="#2784a9" stop-opacity="0" offset="1"/>
          </radialGradient>
        </defs>
        <g fill-opacity="0" clip-path="url(#a)" transform="matrix(1.25 0 0 -1.25 -523.191 214.183)" fill="#ffffff">
          <path d="M510.72 124.722a45.542 45.542 0 1 1-91.08 0 45.542 45.542 0 1 1 91.08 0z"/>
        </g>
        <path d="M86.433 58.28a28.152 28.152 0 0 1-56.304 0 28.152 28.152 0 1 1 56.304 0z" fill="url(#b)"/>
        <g transform="matrix(1.25 0 0 -1.25 -523.193 214.183)" clip-path="url(#c)">
          <path fill="#ffffff"
                d="M460.576 131.629a2.34 2.34 0 0 1-1.666-.673 2.227 2.227 0 0 1-.673-1.628c0-.64.226-1.181.673-1.632a2.336 2.336 0 0 1 1.666-.673h9.208c1.911 0 3.552-.671 4.92-2.016 1.348-1.347 2.02-2.975 2.02-4.886 0-1.914-.672-3.555-2.02-4.926-1.368-1.343-3.009-2.018-4.92-2.018h-16.15v4.604h16.15c.635 0 1.178.226 1.627.673.448.472.675 1.027.675 1.667 0 .634-.227 1.176-.675 1.628a2.228 2.228 0 0 1-1.627.672h-9.208c-1.913 0-3.555.673-4.924 2.018-1.346 1.348-2.019 2.976-2.019 4.889 0 1.912.673 3.553 2.02 4.92 1.368 1.348 3.01 2.02 4.923 2.02h16.148v-4.64h-16.148z"/>
        </g>
        <path id="spinner" stroke-linejoin="round"
              d="M97.837 58.281a39.552 39.552 0 0 1-79.104 0 39.552 39.552 0 1 1 79.104 0z" stroke="url(#d)"
              stroke-width="4.103" fill="none"/>
      </svg>
    </div>
  </div>
</div>
