<div class="si-rich-text {{class}}" [class.disabled]="disabled"
     [class.invalid]="formModel && formModel.invalid && (formModel.dirty || formModel.formDirective?.submitted)">
  <div class="d-flex">
    <div *ngIf="text"
         class="si-rich-text_label margin-small-right">
      <label>{{ text | translate }}</label>
    </div>
    <div *ngIf="!text" class="col-12"></div>
    <div>
      <si-validation-element #validationElement [formModel]="formModel"></si-validation-element>
    </div>
  </div>
  <div class="si-rich-text_textarea" [class.si-rich-text_resize]="resize" siProvideParentForm>
    <p-editor #textEditor
              #formModel="ngModel"
              [(ngModel)]="model"
              [name]="name"
              [id]="id"
              (onTextChange)="onChangeModel($event)"
              [placeholder]="placeholder"
              [modules]="modules"
              [readonly]="disabled"
              siValidation="{{rule}}" [siValidationElement]="validationElement">
      <p-header>
      </p-header>
    </p-editor>
  </div>
</div>
