@import '~src/scss/style-guide/style-guide-variables';

si-rich-text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.si-rich-text {
  display: flex;
  flex-direction: column;
  flex: 1;

  &_label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1px;

    & label {
      font-size: $font13;
      text-transform: uppercase;
      color: $color-main1;
      font-family: $font-bold-condensed;
    }
  }

  &_textarea {
    display: flex;
    flex-direction: column;
    flex: 1;

    p-editor {
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 100%;
    }
  }

  .ui-editor-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .ui-editor-content {
    display: flex;
    flex-direction: column;
    flex: 1;

    .ql-editor {
      flex: 1;
      flex-basis: 0.000000001px;
      min-height: 120px;
    }
  }

  &.invalid {

    .ql-editor {
      border-bottom: 2px solid $color-danger;
    }
  }

  &_resize {

    .ui-editor-content {

      .ql-editor {
        resize: vertical;
        flex-basis: auto;
        height: 120px;
      }
    }
  }
}

:host-context(.readmode) .si-rich-text {
  &.readmode {
    .ql-toolbar {
      opacity: 0.6;
    }
  }
}
