////colors
//$color-main1: #36A4D0;
//$color-main2: #2FBF98;
//$color-minor1: #32B6C1;
//$color-minor2: #56C170;
//$color-minor3: #C16375;
//$color-minor4: #916DC1;
//$color-alert1: #CC614D;
//$color-alert2: #C69345;
//$color-darkgrey: #585858;
//$color-grey: #999999;
//$color-lightgrey: #cdcdcd;
//$color-brown: #ae9999;
//$color-danger: #eb6157;
//$color-lightgrey-soft: #f5f5f5;
//$color-white: white;
//$color-black: black;
//$color-shadow: #888888;
//$color-pink-soft: #efc7ce;
//$color-pink-dark: #ce5d7d;
//$color-gold: #FFD700;
//$border-color: #cecece;
//$triage-level1: #E05566;
//$triage-level2: #EF9D59;
//$triage-level3: #D8CC3A;
//$triage-level4: #75BA83;
//$triage-level5: #3783BC;
//$severity-level1: #E52E3B;
//$severity-level2: #FF8110;
//$severity-level3: #FFBD1A;
//
////font-size
//$font-large: 28px;
//$font-big: 18px;
//$font-medium: 16px;
//$font-small: 14px;
//$font15: 15px;
//$font13: 13px;
//$font12: 12px;
//$font10: 10px;
//
////font family
//$font-condensed: roboto-condensed, sans-serif;
//$font-italic: roboto-italic, sans-serif;
//$font-thin: roboto-thin, sans-serif;
//$font-thin-italic: roboto-thin-italic, sans-serif;
//$font-regular: roboto-regular, sans-serif;
//$font-condensed-italic: roboto-condensed-italic, sans-serif;
//$font-bold: roboto-bold, sans-serif;
//$font-bold-italic: roboto-bold-italic, sans-serif;
//$font-bold-condensed: roboto-bold-condensed, sans-serif;
//$font-bold-condensed-italic: roboto-bold-condensed-italic, sans-serif;
//$font-light: roboto-light, sans-serif;
//$font-light-italic: roboto-light-italic, sans-serif;
//
////margin
//$margin-none: 0;
//$margin-small: 8px; //0.42vw
//$margin-medium: 16px; //0.83vw
//$margin-large: 32px; //1.67vw
//
////padding
//$pad-none: 0;
//$pad-small: 8px;
//$pad-medium: 16px;
//$pad-large: 32px;
//$pad-large-w: 1.7vw;
//$pad-large-h: 1.7vh;
//
////shadow
//$shadow-large-radius: 12px;
//$shadow-medium-radius: 9px;
//$shadow-small-radius: 6px;
//
////background
//$bg-content1: $color-lightgrey;
//$bg-content2: $color-lightgrey;
//$bg-panel: $color-white;
//$bg-darkbar: $color-black;
//$bg-darkmenu: $color-darkgrey;
//
////border-radius
//$border-small-radius: 3px;
//
////paragraphs
//$paragraph0: 0.75em;
//$paragraph1: 0.875em;
//$paragraph2: 1em;
//$paragraph3: 1.0625em;
//$paragraph4: 1.125em;
//$paragraph5: 1.25em;
//$paragraph6: 1.5em;
//
////breakpoints
//$media_breakpoints: (
//  xs: 575px,
//  sm: 767px,
//  md: 991px,
//  lg: 1199px,
//  xl: 1365px,
//  xxl: 1919px
//);
//
////mobile
//$mob-icon-size: 22px;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 800px, //768
  lg: 992px,
  xl: 1200px
);
