<h1>CORE COMPONENTS</h1>
<div class="content">
  <div>
    <si-input id="weeks"
              name="weeks"
              text="RVB_WEEKS"
              tooltipText="RVB_WEEKS"
              placeholder="RVB_WRITE_HERE"
              [(model)]="semanas"
    ></si-input>
  </div>
  <div>
    <si-input id="weeks"
              name="weeks"
              type="number"
              text="RVB_WEEKS"
              tooltipText="RVB_WEEKS"
              placeholder="RVB_WRITE_HERE"
              [(model)]="semanasNum"
    ></si-input>
  </div>
  <div>
    <si-check id="saveSession"
              name="saveSession"
              [(model)]="saveLocSession"
              text="RVB_LOCATION"
    ></si-check>
  </div>
  <div class="row">
    <div class="col">
      <si-datepicker text="CORE_START_DATE"
                     placeholder="CORE_DATEPICKER_L"
                     [(model)]="startDate"
                     empty>
      </si-datepicker>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>

  <div class="m-b-2">
    <si-list-dynamic #listDynamicPrueba [(items)]="patients">
      <div class="list">
        <div class="d-flex flex-row list-header w-100">
          <div class="flex-grow-1">{{'A' | translate}}</div>
          <div class="flex-grow-1">{{'B' | translate}}</div>
          <div>{{'CORE_ACTIONS' | translate}}</div>
        </div>
        <div class="d-flex flex-row list-row-dynamic w-100"
             *ngFor="let item of listDynamicPrueba.items; let i = index">
          <div class="flex-grow-1">
            <si-input id="otherDiagnosticInput{{item.auxId}}"
                      name="otherDiagnosticInput{{item.auxId}}"
                      placeholder="RVB_WRITE_HERE"
                      [(model)]="item.name">
            </si-input>
          </div>
          <div class="flex-grow-1">
            <si-selector id="proposalType2{{item.auxId}}"
                         name="proposalType2{{item.auxId}}"
                         placeholder="RVB_SELECT_PLACEHOLDER"
                         [(model)]="item.name"
                         path="https://jsonplaceholder.typicode.com/users"
            ></si-selector>
          </div>
          <div center-center>
            <div layout center-center>
              <i class="icon-bin pointer" (click)="listDynamicPrueba.onClickDeleteRow(i)"></i>
            </div>
          </div>
        </div>
      </div>
    </si-list-dynamic>
  </div>

  <div>
    <si-multiline id="observationsAdministrative"
                  name="observationsAdministrative"
                  text="CORE_OBSERVATIONS"
                  [(model)]="observationsAdministrative"
    ></si-multiline>
  </div>

  <div>
    <span>Click la i para overlay Panel </span>
    <span pTooltip="{{'CORE_MORE_INFO' | translate}}" tooltipPosition="top">
         <i class="icon-infocircle pointer" (click)="overlayPanel.toggle($event)"></i>
        </span>
    <si-overlay-panel #overlayPanel>
      <div>
        OVERLAY PANEL
      </div>
    </si-overlay-panel>
  </div>

  <div>
    <div class="row">
      RADIO
      <div class="col-1">
        <si-radio id="pathologicAnatomyYes"
                  name="pathologicAnatomyYes"
                  text="RVB_YES"
                  [(model)]="pathologicAnatomy"
                  [value]="true"
        ></si-radio>
      </div>
      <div class="col-1">
        <si-radio id="pathologicAnatomyNo"
                  name="pathologicAnatomyNo"
                  text="RVB_NO"
                  [(model)]="pathologicAnatomy"
                  [value]="false"
                  checked
        ></si-radio>
      </div>
    </div>
  </div>
  <div class="bold margin-small-bottom">
    RADIO DYNAMIC VERTICAL
    <si-radio-dynamic id="radioDynamicPrueba"
                      text="Turno"
                      [(model)]="radioDynamicVariable"
                      path="https://jsonplaceholder.typicode.com/users"
                      [vertical]="true"
                      [disabled]="disableFieldsFlag"
    ></si-radio-dynamic>
  </div>
  <div>
    <si-rich-text id="usualMedication"
                  name="usualMedication"
                  [(model)]="usualMedication"
                  [resize]="true"
    ></si-rich-text>
  </div>
  <div class="row">
    <div class="col-3 m-r-1">
      <si-selector id="localization"
                   name="localization"
                   text="RVB_LOCATION"
                   placeholder="RVB_SELECT_PLACEHOLDER"
                   [(model)]="localization"
                   path="https://jsonplaceholder.typicode.com/users"
                   backSearch>
      </si-selector>
    </div>
    <div class="col-3 m-r-1">
      <si-selector-multiple id="localizationMultiple"
                            name="localizationMultiple"
                            text="RVB_LOCATION"
                            placeholder="RVB_SELECT_PLACEHOLDER"
                            [(model)]="localizationMultiple"
                            path="https://jsonplaceholder.typicode.com/users"
                            backSearch>
      </si-selector-multiple>
    </div>
    <div class="col-3">
      <si-selector-dialog text="RVB_LOCATION"
                          placeholder="RVB_SELECT_PLACEHOLDER"
                          [(model)]="initialState"
                          [(displayDialog)]="displayScalesDialog"
                          [showClear]="false">
        <ng-container *ngIf="displayScalesDialog">
          <p-dialog [(visible)]="displayScalesDialog"
                    modal="true"
                    styleClass="rvb-dialog-medium"
                    dismissableMask="true"
                    appendTo="body"
                    [closable]="true">
            SOY UN DIÁLOGO
            <si-selector id="localizationDialog"
                         name="localizationDialog"
                         text="RVB_LOCATION"
                         placeholder="RVB_SELECT_PLACEHOLDER"
                         [(model)]="initialState"
                         path="https://jsonplaceholder.typicode.com/users"
                         backSearch>
            </si-selector>
          </p-dialog>
        </ng-container>
      </si-selector-dialog>
    </div>
  </div>
  <div>
    <si-table [lazy]="false">
      <p-table #pTable dataKey="id"
               [value]="patients"
               [rows]="3"
               selectionMode="single"
               [(selection)]="selectedPatient"
               [rowsPerPageOptions]="[1,2,3]"
               (onRowSelect)="onRowSelect($event)"
               (onColResize)="onColResize($event)">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name" pResizableColumn>
              Nombre
              <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="surname" pResizableColumn>
              Apellido
              <p-sortIcon field="surname"></p-sortIcon>
            </th>
            <th>
                  <span pTooltip="Fecha de nacimiento"
                        tooltipPosition="top">Fecha de nacimiento</span>
            </th>
            <th>DNI</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-patient class="ui-resizable-column">
          <tr [pSelectableRow]="patient" class="si-table_row_hover">
            <td>{{patient.name}}</td>
            <td>{{patient.surname}}</td>
            <td>{{patient.birthDate}}</td>
            <td class="si-table_td-overflow">
              XX
            </td>
          </tr>
        </ng-template>
      </p-table>
    </si-table>
  </div>
</div>
