@font-face {
    font-family: 'icons';
    src: url('assets/fonts/icons.eot?lzqah0');
    src: url('assets/fonts/icons.eot?lzqah0#iefix') format('embedded-opentype'),
    url('assets/fonts/icons.ttf?lzqah0') format('truetype'),
    url('assets/fonts/icons.woff?lzqah0') format('woff'),
    url('assets/fonts/icons.svg?lzqah0#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-calendarcross:before {
    content: "\eb23";
}

.icon-bedcircle:before {
    content: "\eb24";
}

.icon-bedplay:before {
    content: "\eb22";
}

.icon-lockopen2:before {
    content: "\eb21";
}

.icon-turn:before {
    content: "\eb20";
}

.icon-circle_left:before {
    content: "\eb1f";
}

.icon-circle_right:before {
    content: "\eb1e";
}

.icon-pencil2_check:before {
    content: "\eb1a";
}

.icon-pencil2_cross:before {
    content: "\eb1b";
}

.icon-tablet_check:before {
    content: "\eb1c";
}

.icon-tablet_cross:before {
    content: "\eb1d";
}

.icon-label:before {
    content: "\eb19";
}

.icon-researcher:before {
    content: "\eb17";
}

.icon-cancercell:before {
    content: "\eb18";
}

.icon-labresults:before {
    content: "\eb16";
}

.icon-fileloading:before {
    content: "\eb15";
}

.icon-infocircle:before {
    content: "\eb14";
}

.icon-nurse2:before {
    content: "\eb0f";
}

.icon-usercheck2:before {
    content: "\eb10";
}

.icon-usercross2:before {
    content: "\eb11";
}

.icon-userexclamation2:before {
    content: "\eb12";
}

.icon-wristband2:before {
    content: "\eb13";
}

.icon-invoice:before {
    content: "\eb0e";
}

.icon-arrow_first:before {
    content: "\eb09";
}

.icon-arrow_last:before {
    content: "\eb0a";
}

.icon-arrow_left:before {
    content: "\eb0b";
}

.icon-arrow_right:before {
    content: "\eb0c";
}

.icon-sort:before {
    content: "\eb0d";
}

.icon-testtube:before {
    content: "\eb08";
}

.icon-clipboard3:before {
    content: "\eb07";
}

.icon-calendar3:before {
    content: "\eb06";
}

.icon-surgery2:before {
    content: "\eb05";
}

.icon-usercross:before {
    content: "\eb04";
}

.icon-nurse:before {
    content: "\eb03";
}

.icon-stethoscope:before {
    content: "\eb02";
}

.icon-clipboard2:before {
    content: "\eafa";
}

.icon-calendar2:before {
    content: "\eb01";
}

.icon-doctors:before {
    content: "\eaff";
}

.icon-section:before {
    content: "\eb00";
}

.icon-userexclamation:before {
    content: "\eafe";
}

.icon-playbed:before {
    content: "\eafb";
}

.icon-holiday:before {
    content: "\ea4a";
}

.icon-languages:before {
    content: "\eaa8";
}

.icon-loop_plus:before {
    content: "\eafc";
}

.icon-manual:before {
    content: "\eafd";
}

.icon-accessibility:before {
    content: "\e900";
}

.icon-accountcircle:before {
    content: "\e901";
}

.icon-addalert:before {
    content: "\e902";
}

.icon-addressbook:before {
    content: "\e903";
}

.icon-admin:before {
    content: "\eaf0";
}

.icon-advancedsearch:before {
    content: "\e904";
}

.icon-aidkit:before {
    content: "\e905";
}

.icon-alarm:before {
    content: "\e906";
}

.icon-alarm2:before {
    content: "\e907";
}

.icon-alarmoff:before {
    content: "\e908";
}

.icon-alarmon:before {
    content: "\e909";
}

.icon-alergiederma:before {
    content: "\e90a";
}

.icon-all_inclusive:before {
    content: "\e90b";
}

.icon-ambulance:before {
    content: "\e90c";
}

.icon-announcement:before {
    content: "\e90d";
}

.icon-aposito:before {
    content: "\eae8";
}

.icon-arrowdown:before {
    content: "\e90e";
}

.icon-arrowdown2:before {
    content: "\e90f";
}

.icon-arrowdownleft:before {
    content: "\e910";
}

.icon-arrowdownright:before {
    content: "\e911";
}

.icon-arrowleft:before {
    content: "\e912";
}

.icon-arrowright:before {
    content: "\e913";
}

.icon-arrowup:before {
    content: "\e914";
}

.icon-arrowup2:before {
    content: "\e915";
}

.icon-arrowupleft:before {
    content: "\e916";
}

.icon-arrowupright:before {
    content: "\e917";
}

.icon-atom:before {
    content: "\e918";
}

.icon-attachfile:before {
    content: "\e919";
}

.icon-attachment:before {
    content: "\e91a";
}

.icon-baby:before {
    content: "\e91b";
}

.icon-backward:before {
    content: "\e91c";
}

.icon-backward2:before {
    content: "\e91d";
}

.icon-barcode:before {
    content: "\e91e";
}

.icon-bed:before {
    content: "\e91f";
}

.icon-bell:before {
    content: "\e920";
}

.icon-belongings:before {
    content: "\eaf4";
}

.icon-bigmachine:before {
    content: "\e921";
}

.icon-bin:before {
    content: "\e922";
}

.icon-bin2:before {
    content: "\e923";
}

.icon-bioanalysis:before {
    content: "\e924";
}

.icon-blocked:before {
    content: "\e925";
}

.icon-bloodbag:before {
    content: "\e926";
}

.icon-bloodorsomethingliquid:before {
    content: "\e927";
}

.icon-bodyrev:before {
    content: "\e928";
}

.icon-bones:before {
    content: "\e929";
}

.icon-bonessurgeon:before {
    content: "\e92a";
}

.icon-book:before {
    content: "\e92b";
}

.icon-bookmark:before {
    content: "\e92c";
}

.icon-bookmarks:before {
    content: "\e92d";
}

.icon-books:before {
    content: "\e92e";
}

.icon-borderall:before {
    content: "\e92f";
}

.icon-borderbottom:before {
    content: "\e930";
}

.icon-bordercolor:before {
    content: "\e931";
}

.icon-boxadd:before {
    content: "\e932";
}

.icon-boxremove:before {
    content: "\e933";
}

.icon-brainproblm:before {
    content: "\e934";
}

.icon-brainsurgeon:before {
    content: "\e935";
}

.icon-brandingwatermark:before {
    content: "\e936";
}

.icon-briefcase:before {
    content: "\e937";
}

.icon-brightnesscontrast:before {
    content: "\e938";
}

.icon-brokenbones:before {
    content: "\e939";
}

.icon-bubble:before {
    content: "\e93a";
}

.icon-bubble2:before {
    content: "\e93b";
}

.icon-bubblechart:before {
    content: "\e93c";
}

.icon-bubbles3:before {
    content: "\e93d";
}

.icon-bubbles4:before {
    content: "\e93e";
}

.icon-bug:before {
    content: "\e93f";
}

.icon-bullhorn:before {
    content: "\e940";
}

.icon-calculator:before {
    content: "\e941";
}

.icon-calendar:before {
    content: "\e942";
}

.icon-calendarocpp:before {
    content: "\e943";
}

.icon-camera:before {
    content: "\e944";
}

.icon-cancel:before {
    content: "\e945";
}

.icon-cancelcircle:before {
    content: "\e946";
}

.icon-cancerlabel:before {
    content: "\e947";
}

.icon-cardioelectr:before {
    content: "\e948";
}

.icon-care:before {
    content: "\e949";
}

.icon-careful:before {
    content: "\e94a";
}

.icon-careplan:before {
    content: "\eaf1";
}

.icon-cart:before {
    content: "\e94b";
}

.icon-chat:before {
    content: "\e94c";
}

.icon-chat2:before {
    content: "\e94d";
}

.icon-chatbubble:before {
    content: "\e94e";
}

.icon-chatbubbleoutline:before {
    content: "\e94f";
}

.icon-check0:before {
    content: "\e950";
}

.icon-check1:before {
    content: "\e951";
}

.icon-check2:before {
    content: "\e952";
}

.icon-checkboxchecked:before {
    content: "\e953";
}

.icon-checkboxoutline_blank:before {
    content: "\e954";
}

.icon-checkboxunchecked:before {
    content: "\e955";
}

.icon-checkmark:before {
    content: "\e956";
}

.icon-checkmark2:before {
    content: "\e957";
}

.icon-childfriendly:before {
    content: "\e958";
}

.icon-circle:before {
    content: "\eaf3";
}

.icon-circleleft:before {
    content: "\e959";
}

.icon-circleright:before {
    content: "\e95a";
}

.icon-clearall:before {
    content: "\e95b";
}

.icon-clipboard:before {
    content: "\e95c";
}

.icon-clipboard2:before {
    content: "\eafa";
}

.icon-clock:before {
    content: "\e95d";
}

.icon-clock2:before {
    content: "\e95e";
}

.icon-close1:before {
    content: "\e95f";
}

.icon-closex:before {
    content: "\e960";
}

.icon-cloud:before {
    content: "\e962";
}

.icon-cloud_download:before {
    content: "\e961";
}

.icon-cloudcheck:before {
    content: "\e963";
}

.icon-clouddone:before {
    content: "\e964";
}

.icon-clouddownload:before {
    content: "\e965";
}

.icon-cloudupload:before {
    content: "\e966";
}

.icon-cog:before {
    content: "\e967";
}

.icon-cogs:before {
    content: "\e968";
}

.icon-coindollar:before {
    content: "\e969";
}

.icon-coineuro:before {
    content: "\e96a";
}

.icon-coinpound:before {
    content: "\e96b";
}

.icon-coinyen:before {
    content: "\e96c";
}

.icon-comment:before {
    content: "\e96d";
}

.icon-config1:before {
    content: "\e96e";
}

.icon-connection:before {
    content: "\e96f";
}

.icon-contentcut:before {
    content: "\e970";
}

.icon-contrast:before {
    content: "\e971";
}

.icon-copy:before {
    content: "\e972";
}

.icon-creditcard:before {
    content: "\e973";
}

.icon-cross:before {
    content: "\e974";
}

.icon-cure:before {
    content: "\e975";
}

.icon-cures123:before {
    content: "\e976";
}

.icon-dangerous:before {
    content: "\e977";
}

.icon-dashboard:before {
    content: "\eaeb";
}

.icon-database:before {
    content: "\e978";
}

.icon-daterange:before {
    content: "\e979";
}

.icon-deletenormal:before {
    content: "\e97a";
}

.icon-deleteselected:before {
    content: "\e97b";
}

.icon-devicehub:before {
    content: "\e97c";
}

.icon-diagnostic1:before {
    content: "\e97d";
}

.icon-diagnostic2:before {
    content: "\e97e";
}

.icon-display:before {
    content: "\e97f";
}

.icon-dna:before {
    content: "\e980";
}

.icon-doctor:before {
    content: "\e981";
}

.icon-doctor2:before {
    content: "\e982";
}

.icon-doctorvisit:before {
    content: "\e983";
}

.icon-done:before {
    content: "\e984";
}

.icon-doneall:before {
    content: "\e985";
}

.icon-down:before {
    content: "\e986";
}

.icon-download:before {
    content: "\e987";
}

.icon-download0:before {
    content: "\e988";
}

.icon-download2:before {
    content: "\e989";
}

.icon-download3:before {
    content: "\e98a";
}

.icon-drafts:before {
    content: "\e98b";
}

.icon-drawer:before {
    content: "\e98c";
}

.icon-drawer2:before {
    content: "\e98d";
}

.icon-drive:before {
    content: "\e98e";
}

.icon-drmsys:before {
    content: "\e98f";
}

.icon-droplet:before {
    content: "\e990";
}

.icon-ear:before {
    content: "\e991";
}

.icon-earth:before {
    content: "\e992";
}

.icon-editnormal:before {
    content: "\e993";
}

.icon-editselected:before {
    content: "\e994";
}

.icon-eject:before {
    content: "\e995";
}

.icon-english:before {
    content: "\eaef";
}

.icon-enlarge:before {
    content: "\e996";
}

.icon-enlarge2:before {
    content: "\e997";
}

.icon-enter:before {
    content: "\e998";
}

.icon-envelop:before {
    content: "\e999";
}

.icon-equalizer:before {
    content: "\e99a";
}

.icon-equalizer2:before {
    content: "\e99b";
}

.icon-eventavailable:before {
    content: "\e99c";
}

.icon-eventbusy:before {
    content: "\e99d";
}

.icon-eventnote:before {
    content: "\e99e";
}

.icon-exit:before {
    content: "\e99f";
}

.icon-exitusnormal:before {
    content: "\e9a0";
}

.icon-exitusselected:before {
    content: "\e9a1";
}

.icon-eye:before {
    content: "\e9a2";
}

.icon-eyeblocked:before {
    content: "\e9a3";
}

.icon-eyedropper:before {
    content: "\e9a4";
}

.icon-eyeminus:before {
    content: "\e9a5";
}

.icon-eyeplus:before {
    content: "\e9a6";
}

.icon-eyetest:before {
    content: "\e9a7";
}

.icon-facesys:before {
    content: "\e9a8";
}

.icon-feed:before {
    content: "\e9a9";
}

.icon-feet:before {
    content: "\e9aa";
}

.icon-female1:before {
    content: "\e9ab";
}

.icon-fileempty:before {
    content: "\e9ac";
}

.icon-fileexcel:before {
    content: "\e9ad";
}

.icon-filelist:before {
    content: "\eaf5";
}

.icon-filepdf:before {
    content: "\e9ae";
}

.icon-filepicture:before {
    content: "\e9af";
}

.icon-fileplay:before {
    content: "\e9b0";
}

.icon-filesempty:before {
    content: "\e9b1";
}

.icon-filetext:before {
    content: "\e9b2";
}

.icon-filetext2:before {
    content: "\e9b3";
}

.icon-fileword:before {
    content: "\e9b4";
}

.icon-filezip:before {
    content: "\e9b5";
}

.icon-filter:before {
    content: "\e9b6";
}

.icon-fingerprint:before {
    content: "\e9b7";
}

.icon-fire:before {
    content: "\e9b8";
}

.icon-first:before {
    content: "\e9b9";
}

.icon-fitnesscenter:before {
    content: "\e9ba";
}

.icon-flag:before {
    content: "\e9bb";
}

.icon-floppydisk:before {
    content: "\e9bc";
}

.icon-folder:before {
    content: "\e9bd";
}

.icon-folderdownload:before {
    content: "\e9be";
}

.icon-folderminus:before {
    content: "\e9bf";
}

.icon-folderopen:before {
    content: "\e9c0";
}

.icon-folderplus:before {
    content: "\e9c1";
}

.icon-folderupload:before {
    content: "\e9c2";
}

.icon-formatcolorreset:before {
    content: "\e9c3";
}

.icon-forward:before {
    content: "\e9c4";
}

.icon-forward2:before {
    content: "\e9c5";
}

.icon-forward3:before {
    content: "\e9c6";
}

.icon-fullscreen1:before {
    content: "\e9c7";
}

.icon-glass:before {
    content: "\e9c8";
}

.icon-glass2:before {
    content: "\e9c9";
}

.icon-grapas:before {
    content: "\eae9";
}

.icon-groupwork:before {
    content: "\e9ca";
}

.icon-hamburgermenu:before {
    content: "\eaed";
}

.icon-hammer:before {
    content: "\e9cb";
}

.icon-hands:before {
    content: "\e9cc";
}

.icon-hct123:before {
    content: "\e9cd";
}

.icon-headproblem:before {
    content: "\e9ce";
}

.icon-hearing:before {
    content: "\e9cf";
}

.icon-heart:before {
    content: "\e9d0";
}

.icon-heart2:before {
    content: "\e9d1";
}

.icon-heartbeat:before {
    content: "\e9d2";
}

.icon-heartsurgeon:before {
    content: "\e9d3";
}

.icon-hgadget:before {
    content: "\e9d4";
}

.icon-history:before {
    content: "\e9d5";
}

.icon-home:before {
    content: "\e9d6";
}

.icon-home2:before {
    content: "\e9d7";
}

.icon-home3:before {
    content: "\e9d8";
}

.icon-hospibed:before {
    content: "\e9d9";
}

.icon-hospitalsit:before {
    content: "\e9da";
}

.icon-hourglass:before {
    content: "\e9db";
}

.icon-image:before {
    content: "\e9dc";
}

.icon-images:before {
    content: "\e9dd";
}

.icon-indentdecrease:before {
    content: "\e9de";
}

.icon-indentincrease:before {
    content: "\e9df";
}

.icon-infinite:before {
    content: "\e9e0";
}

.icon-info:before {
    content: "\e9e1";
}

.icon-insertinvitation:before {
    content: "\e9e2";
}

.icon-intercons:before {
    content: "\e9e3";
}

.icon-intolerance:before {
    content: "\e9e4";
}

.icon-isotiposina_ico-03:before {
    content: "\e9e5";
}

.icon-key:before {
    content: "\e9e6";
}

.icon-keyboard:before {
    content: "\e9e7";
}

.icon-lab:before {
    content: "\e9e8";
}

.icon-labmsture:before {
    content: "\e9e9";
}

.icon-laptop:before {
    content: "\e9ea";
}

.icon-last:before {
    content: "\e9eb";
}

.icon-leaf:before {
    content: "\e9ec";
}

.icon-lightinabox:before {
    content: "\e9ed";
}

.icon-link:before {
    content: "\e9ee";
}

.icon-linkopen:before {
    content: "\eaec";
}

.icon-list:before {
    content: "\e9ef";
}

.icon-list1:before {
    content: "\e9f0";
}

.icon-list2:before {
    content: "\e9f1";
}

.icon-listnumbered:before {
    content: "\e9f2";
}

.icon-litter:before {
    content: "\e9f3";
}

.icon-localairport:before {
    content: "\e9f4";
}

.icon-localcarwash:before {
    content: "\e9f5";
}

.icon-localdrink:before {
    content: "\e9f6";
}

.icon-localparking:before {
    content: "\e9f7";
}

.icon-localshipping:before {
    content: "\e9f8";
}

.icon-location:before {
    content: "\e9f9";
}

.icon-location2:before {
    content: "\e9fa";
}

.icon-lock:before {
    content: "\e9fb";
}

.icon-lock2:before {
    content: "\e9fc";
}

.icon-lockopen:before {
    content: "\e9fd";
}

.icon-lockoutline:before {
    content: "\e9fe";
}

.icon-logo_sihna_copyright:before {
    content: "\eaf8";
}

.icon-logo_sina-extended-02:before {
    content: "\e9ff";
}

.icon-logout:before {
    content: "\eaf6";
}

.icon-looks1:before {
    content: "\ea00";
}

.icon-looks2:before {
    content: "\ea01";
}

.icon-looks3:before {
    content: "\ea02";
}

.icon-looks4:before {
    content: "\ea03";
}

.icon-looks5:before {
    content: "\ea04";
}

.icon-looks6:before {
    content: "\ea05";
}

.icon-loop:before {
    content: "\ea06";
}

.icon-magnet:before {
    content: "\ea07";
}

.icon-mail:before {
    content: "\ea08";
}

.icon-mail2:before {
    content: "\ea09";
}

.icon-mailoutline:before {
    content: "\ea0a";
}

.icon-male:before {
    content: "\ea0b";
}

.icon-man:before {
    content: "\ea0c";
}

.icon-manwoman:before {
    content: "\ea0d";
}

.icon-map:before {
    content: "\ea0e";
}

.icon-map2:before {
    content: "\ea0f";
}

.icon-markunread:before {
    content: "\ea10";
}

.icon-maxilosys:before {
    content: "\ea11";
}

.icon-medication:before {
    content: "\ea12";
}

.icon-medifolder:before {
    content: "\ea13";
}

.icon-menu:before {
    content: "\ea15";
}

.icon-menu1:before {
    content: "\ea16";
}

.icon-menu2:before {
    content: "\ea17";
}

.icon-menu3:before {
    content: "\ea18";
}

.icon-menu4:before {
    content: "\ea19";
}

.icon-menu5:before {
    content: "\ea1a";
}

.icon-menu_professional:before {
    content: "\ea14";
}

.icon-menumode1:before {
    content: "\ea1b";
}

.icon-mic:before {
    content: "\ea1c";
}

.icon-micro:before {
    content: "\ea1d";
}

.icon-minus:before {
    content: "\ea1e";
}

.icon-minus1:before {
    content: "\ea1f";
}

.icon-mobile:before {
    content: "\ea20";
}

.icon-mother:before {
    content: "\ea21";
}

.icon-mug:before {
    content: "\ea22";
}

.icon-newspaper:before {
    content: "\ea23";
}

.icon-next:before {
    content: "\ea24";
}

.icon-next2:before {
    content: "\ea25";
}

.icon-notification:before {
    content: "\ea26";
}

.icon-notification1:before {
    content: "\ea27";
}

.icon-notifications:before {
    content: "\ea28";
}

.icon-notificationsactive:before {
    content: "\ea29";
}

.icon-notificationsnone:before {
    content: "\ea2a";
}

.icon-notificationsoff:before {
    content: "\ea2b";
}

.icon-nottoday:before {
    content: "\ea2c";
}

.icon-nursing:before {
    content: "\ea2d";
}

.icon-nutridoctor:before {
    content: "\ea2e";
}

.icon-office:before {
    content: "\ea2f";
}

.icon-ohyesilockedit:before {
    content: "\ea30";
}

.icon-paperhrnormal:before {
    content: "\ea31";
}

.icon-paperhrselected:before {
    content: "\ea32";
}

.icon-paste:before {
    content: "\ea33";
}

.icon-patient:before {
    content: "\ea34";
}

.icon-pause:before {
    content: "\ea35";
}

.icon-pause2:before {
    content: "\ea36";
}

.icon-pen:before {
    content: "\ea37";
}

.icon-pencil:before {
    content: "\ea38";
}

.icon-pencil2:before {
    content: "\ea39";
}

.icon-pharmacist:before {
    content: "\ea3a";
}

.icon-phone:before {
    content: "\ea3b";
}

.icon-phonebluetooth_speaker:before {
    content: "\ea3c";
}

.icon-phoneforwarded:before {
    content: "\ea3d";
}

.icon-phonehangup:before {
    content: "\ea3e";
}

.icon-phoneintalk:before {
    content: "\ea3f";
}

.icon-phonelocked:before {
    content: "\ea40";
}

.icon-phonemissed:before {
    content: "\ea41";
}

.icon-phonepaused:before {
    content: "\ea42";
}

.icon-physio:before {
    content: "\eaf7";
}

.icon-piechart:before {
    content: "\ea43";
}

.icon-play:before {
    content: "\ea44";
}

.icon-play2:before {
    content: "\ea45";
}

.icon-plus:before {
    content: "\ea46";
}

.icon-plus2:before {
    content: "\ea47";
}

.icon-power:before {
    content: "\ea48";
}

.icon-pressure:before {
    content: "\ea49";
}

.icon-presure23:before {
    content: "\ea4a";
}

.icon-previous:before {
    content: "\ea4b";
}

.icon-previous2:before {
    content: "\ea4c";
}

.icon-pricetag:before {
    content: "\ea4d";
}

.icon-pricetags:before {
    content: "\ea4e";
}

.icon-printer:before {
    content: "\ea4f";
}

.icon-profile:before {
    content: "\ea50";
}

.icon-psychic1:before {
    content: "\ea51";
}

.icon-psychic2:before {
    content: "\ea52";
}

.icon-psychodoctor:before {
    content: "\ea53";
}

.icon-pulmsys:before {
    content: "\ea54";
}

.icon-pushpin:before {
    content: "\ea55";
}

.icon-qrcode:before {
    content: "\ea56";
}

.icon-question:before {
    content: "\ea57";
}

.icon-question1:before {
    content: "\ea58";
}

.icon-queue:before {
    content: "\ea59";
}

.icon-quotesleft:before {
    content: "\ea5a";
}

.icon-quotesright:before {
    content: "\ea5b";
}

.icon-radiation:before {
    content: "\ea5c";
}

.icon-radiochecked:before {
    content: "\ea5d";
}

.icon-radiochecked2:before {
    content: "\ea5e";
}

.icon-radiography:before {
    content: "\ea5f";
}

.icon-radiounchecked:before {
    content: "\ea60";
}

.icon-readingnormal:before {
    content: "\ea61";
}

.icon-readingselected:before {
    content: "\ea62";
}

.icon-receipe:before {
    content: "\ea63";
}

.icon-redo:before {
    content: "\ea64";
}

.icon-redo2:before {
    content: "\ea65";
}

.icon-refreshhh:before {
    content: "\ea66";
}

.icon-reply:before {
    content: "\ea67";
}

.icon-rin_volume:before {
    content: "\ea68";
}

.icon-rnlsys:before {
    content: "\ea69";
}

.icon-road:before {
    content: "\ea6a";
}

.icon-rx1:before {
    content: "\ea6b";
}

.icon-sample:before {
    content: "\ea6c";
}

.icon-savethetrees:before {
    content: "\ea6d";
}

.icon-savingman:before {
    content: "\ea6e";
}

.icon-scissors:before {
    content: "\ea6f";
}

.icon-search:before {
    content: "\ea70";
}

.icon-search1normal:before {
    content: "\ea71";
}

.icon-search1selected:before {
    content: "\ea72";
}

.icon-search2:before {
    content: "\ea73";
}

.icon-seatflat:before {
    content: "\ea74";
}

.icon-seatflatangled:before {
    content: "\ea75";
}

.icon-seatindsuite:before {
    content: "\ea76";
}

.icon-send:before {
    content: "\ea77";
}

.icon-settings:before {
    content: "\ea78";
}

.icon-share:before {
    content: "\ea79";
}

.icon-share2:before {
    content: "\ea7a";
}

.icon-shrink:before {
    content: "\ea7b";
}

.icon-shrink2:before {
    content: "\ea7c";
}

.icon-shrinker:before {
    content: "\ea7d";
}

.icon-shuffle:before {
    content: "\ea7e";
}

.icon-shuffle2:before {
    content: "\ea7f";
}

.icon-signature:before {
    content: "\eaf2";
}

.icon-sinaicoespec-22:before {
    content: "\ea80";
}

.icon-sinaisotype:before {
    content: "\ea81";
}

.icon-smokefree:before {
    content: "\ea82";
}

.icon-smokingrooms:before {
    content: "\ea83";
}

.icon-snooze:before {
    content: "\ea84";
}

.icon-sortalphaasc:before {
    content: "\ea85";
}

.icon-sortalphadesc:before {
    content: "\ea86";
}

.icon-sortamountasc:before {
    content: "\ea87";
}

.icon-sortamountdesc:before {
    content: "\ea88";
}

.icon-sortnumbericdesc:before {
    content: "\ea89";
}

.icon-sortnumericasc:before {
    content: "\ea8a";
}

.icon-spa:before {
    content: "\ea8b";
}

.icon-spellcheck:before {
    content: "\ea8c";
}

.icon-sphere:before {
    content: "\ea8d";
}

.icon-spinner:before {
    content: "\ea8e";
}

.icon-spinner2:before {
    content: "\ea8f";
}

.icon-spinner3:before {
    content: "\ea90";
}

.icon-spinner4:before {
    content: "\ea91";
}

.icon-spinner5:before {
    content: "\ea92";
}

.icon-spinner6:before {
    content: "\ea93";
}

.icon-spinner7:before {
    content: "\ea94";
}

.icon-spinner8:before {
    content: "\ea95";
}

.icon-spinner9:before {
    content: "\ea96";
}

.icon-spoonknife:before {
    content: "\ea97";
}

.icon-stack:before {
    content: "\ea98";
}

.icon-star_half:before {
    content: "\ea99";
}

.icon-starempty:before {
    content: "\ea9a";
}

.icon-starfull:before {
    content: "\ea9b";
}

.icon-starhalf:before {
    content: "\ea9c";
}

.icon-stars:before {
    content: "\ea9d";
}

.icon-statsbars:before {
    content: "\ea9e";
}

.icon-statsbars2:before {
    content: "\ea9f";
}

.icon-statsdots:before {
    content: "\eaa0";
}

.icon-stepback:before {
    content: "\eaa1";
}

.icon-stepforward:before {
    content: "\eaa2";
}

.icon-stop:before {
    content: "\eaa3";
}

.icon-stop2:before {
    content: "\eaa4";
}

.icon-style:before {
    content: "\eaa5";
}

.icon-sun:before {
    content: "\eaa6";
}

.icon-surgeon:before {
    content: "\eaa7";
}

.icon-surgeon123:before {
    content: "\eaa8";
}

.icon-surgery:before {
    content: "\eaa9";
}

.icon-swapcalls:before {
    content: "\eaaa";
}

.icon-switch:before {
    content: "\eaab";
}

.icon-syncproblem:before {
    content: "\eaac";
}

.icon-table:before {
    content: "\eaad";
}

.icon-tablet:before {
    content: "\eaae";
}

.icon-target:before {
    content: "\eaaf";
}

.icon-tempcabled:before {
    content: "\eab0";
}

.icon-texture:before {
    content: "\eab1";
}

.icon-thermo:before {
    content: "\eab2";
}

.icon-translate:before {
    content: "\eaea";
}

.icon-tree:before {
    content: "\eab3";
}

.icon-trophy:before {
    content: "\eab4";
}

.icon-truck:before {
    content: "\eab5";
}

.icon-tune:before {
    content: "\eab6";
}

.icon-turnedin:before {
    content: "\eab7";
}

.icon-turnedinnot:before {
    content: "\eab8";
}

.icon-undefinedgenre:before {
    content: "\eab9";
}

.icon-undo:before {
    content: "\eaba";
}

.icon-undo2:before {
    content: "\eabb";
}

.icon-ungroup:before {
    content: "\eabc";
}

.icon-unk123:before {
    content: "\eabd";
}

.icon-unlocked:before {
    content: "\eabe";
}

.icon-up:before {
    content: "\eabf";
}

.icon-upload:before {
    content: "\eac0";
}

.icon-upload1:before {
    content: "\eac1";
}

.icon-upload2:before {
    content: "\eac2";
}

.icon-upload3:before {
    content: "\eac3";
}

.icon-user:before {
    content: "\eac4";
}

.icon-useralert:before {
    content: "\eac5";
}

.icon-usercheck:before {
    content: "\eac6";
}

.icon-userminus:before {
    content: "\eac7";
}

.icon-userplus:before {
    content: "\eac8";
}

.icon-users:before {
    content: "\eac9";
}

.icon-vaccine:before {
    content: "\eaca";
}

.icon-viewagenda:before {
    content: "\eacb";
}

.icon-viewarray:before {
    content: "\eacc";
}

.icon-viewcarousel:before {
    content: "\eacd";
}

.icon-viewcolumn:before {
    content: "\eace";
}

.icon-viewcomfy:before {
    content: "\eacf";
}

.icon-viewcompact:before {
    content: "\ead0";
}

.icon-viewday:before {
    content: "\ead1";
}

.icon-viewheadline:before {
    content: "\ead2";
}

.icon-viewlist:before {
    content: "\ead3";
}

.icon-viewquilt:before {
    content: "\ead4";
}

.icon-volumedecrease:before {
    content: "\ead5";
}

.icon-volumehigh:before {
    content: "\ead6";
}

.icon-volumeincrease:before {
    content: "\ead7";
}

.icon-volumelow:before {
    content: "\ead8";
}

.icon-volumemedium:before {
    content: "\ead9";
}

.icon-volumemute:before {
    content: "\eada";
}

.icon-volumemute2:before {
    content: "\eadb";
}

.icon-waitingroom:before {
    content: "\eadc";
}

.icon-warning:before {
    content: "\eadd";
}

.icon-wbcloudy:before {
    content: "\eade";
}

.icon-wbincandescent:before {
    content: "\eadf";
}

.icon-wc:before {
    content: "\eae0";
}

.icon-whatshot:before {
    content: "\eae1";
}

.icon-wmnsys:before {
    content: "\eae2";
}

.icon-woman:before {
    content: "\eae3";
}

.icon-worklist:before {
    content: "\eaee";
}

.icon-wrench:before {
    content: "\eae4";
}

.icon-wristband:before {
    content: "\eaf9";
}

.icon-xray:before {
    content: "\eae5";
}

.icon-zoomin:before {
    content: "\eae6";
}

.icon-zoomout:before {
    content: "\eae7";
}

