<div class="list-dynamic">
  <div class="list-dynamic_header margin-small-bottom" *ngIf="addButton">
    <button siPreventDoubleClick type="button" class="si-button" (click)="onClickAddRow()">
      <span translate="CORE_ADD"></span>
    </button>
  </div>
  <ng-content></ng-content>
</div>
