<div>
  <si-loader></si-loader>
  <rvb-top-bar></rvb-top-bar>

  <div class="container-fluid px-0 h-100">
    <div class="row min-vh-100 no-gutters d-flex flex-nowrap h-100 position-relative">
      <rvb-nav-sidebar></rvb-nav-sidebar>
      <div class="col container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
