@import '~src/scss/style-guide/style-guide-variables';

.selector-dialog {
  position: relative;

  &_label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1px;
    width: calc(100% - 50px);
    position: relative;

    & label {
      font-size: $font13;
      text-transform: uppercase;
      color: $color-main1;
      font-family: $font-bold-condensed;
    }
  }

  &_selector {
    cursor: pointer;
    min-height: 24px;

    &_icon {

      &--close {
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }

        &:after {
          content: "\e960";
          font-family: 'icons';
          color: lighten($color-darkgrey, 20);
          font-size: 0.8em;
          margin-right: 0.3em;
        }
      }

      &--arrow {

        &.open {

          &:after {
            color: $color-main1;
          }
        }

        &:after {
          content: "\e986";
          font-family: 'icons';
          color: darken($color-lightgrey, 20);
          font-size: 0.95em;
        }
      }
    }

    &_model {
      font-family: $font-condensed;
      color: $color-darkgrey;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: .95em;

      &--placeholder {
        font-family: $font-condensed-italic;
        color: lighten($color-darkgrey, 25%);
        font-size: .95em;
      }
    }
  }

  &.open {

    &:before {
      visibility: visible;
      left: 0;
      width: 100%;
    }
  }

  &.invalid {

    &:before {
      background-color: $color-danger;
    }

    &:after {
      background-color: $color-danger;
      height: 2px;
    }
  }

  &:before {
    background-color: $color-main1;
    content: '';
    height: 2px;
    left: 45%;
    top: 42px;
    position: absolute;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    visibility: hidden;
    width: 10px;
    z-index: 1;
  }

  &:after {
    background-color: $color-lightgrey;
    content: '';
    height: 1px;
    position: absolute;
    width: 100%;
  }
}

:host-context(.readmode) .selector-dialog {

  &_label {
    height: 18px;

    label {
      color: darken($color-lightgrey, 20);
    }
  }

  &_selector {
    min-height: 24px;

    &_icon {

      &--close {
        display: none;
      }

      &--arrow {
        display: none;
      }
    }
  }

  &:after {
    height: 0;
    background-color: transparent;
    border-bottom: 1px dotted $color-lightgrey;
  }
}
