<nav [class.collapsed]="collapsed" class="nav-sidebar h-100">
  <!-- fixed sidebar -->
  <div class="position-fixed" *ngIf="items">
    <p-panelMenu [model]="items" [multiple]="true" [styleClass]="'nav-sidebar_panel-menu'"></p-panelMenu>
  </div>
</nav>
