@import '~src/scss/style-guide/style-guide-variables';

.nav-sidebar {
  margin-top: $top-bar-height;
  background-color: $color-lightgrey;
  width: $nav-sidebar-width;
  margin-left: 0;
  transition: all 0.15s linear;

  & > div {
    width: $nav-sidebar-width;
    padding: 10px;
  }

  &_panel-menu {
    margin: 0 auto;
    box-shadow: 10px 10px 8px -8px rgba(173, 187, 197, 1);

    .pi-chevron-right::after {
      font-family: 'icons';
      content: "\e986";
    }

    .pi-chevron-down::after {
      font-family: 'icons';
      content: "\eabf";
    }

    .ui-widget-content {
      background-color: $color-white;
      border: 1px solid $color-white;
      box-shadow: 10px 10px 8px -8px rgba(173, 187, 197, 1);
    }

    .ui-panelmenu-panel {
      border-bottom: 1px solid $color-grey;
    }

    .ui-panelmenu-header {

      &.ui-state-active {
        background-color: $color-white;
        border-color: $color-white;

        a {
          background-color: $color-white;
          border-color: $color-grey;
          color: $color-main1;
          border-radius: 4px;
        }
      }
    }

    .ui-state-default {
      background-color: $color-white;
      border: none;
      border-bottom: 1px solid $color-grey;

      .ui-panelmenu-header.ui-state-active a {
        background-color: $color-white;
        border-color: $color-grey;

        a {
          background-color: $color-lightgrey;
          color: $color-black;
        }
      }
    }

    .ui-panelmenu-content .ui-menuitem-link {
      color: $color-black;
      background: none;
      padding-left: 20px;

      &.ui-state-active {
        color: $color-main1;
        font-family: roboto-bold;
      }
    }

    .ui-panelmenu-icon {
      float: right;
    }
  }

  &.collapsed {
    margin-left: -$nav-sidebar-width;
  }
}

@media (max-width: 768px) {

  .nav-sidebar {
    margin-left: -$nav-sidebar-width;
    transition: all .25s linear;
    position: fixed;
    z-index: 1050;

    & > div {
      background-color: $color-lightgrey;
    }

    &.collapsed {
      margin-left: 0;
    }
  }
}
