@import '~src/scss/style-guide/style-guide-variables';

.validation-element {
  display: flex;
  justify-content: center;
  align-items: center;

  &_warning {
    color: $color-danger;
    margin: 2px 0;

    &_tooltip {

      .ui-tooltip-arrow {
        border-left-color: $color-danger;
      }

      .ui-tooltip-text {
        background-color: $color-danger;
        font-family: $font-condensed;
        font-size: $font-small;
      }
    }
  }

  &_required {

    &:before {
      content: "*";
      color: $color-main1;
      margin-right: 4px;
    }

    &.invalid:before {
      color: $color-danger;
    }
  }
}

.readmode .validation-element {
  display: none;

  &_warning {
    color: inherit;

    &_tooltip {

      .ui-tooltip-arrow {
        border-left-color: inherit;
      }

      .ui-tooltip-text {
        background-color: inherit;
      }
    }
  }

  &_required {

    &:before {
      color: inherit;
    }

    &.invalid:before {
      color: inherit;
    }
  }
}
