<div class="validation-element">
  <i class="icon-nottoday validation-element_warning"
     *ngIf="tooltipText && formModel.invalid && formModel.dirty; else requiredElement"
     pTooltip="{{tooltipText | translate}}" tooltipPosition="left"
     tooltipStyleClass="validation-element_warning_tooltip"
  ></i>
  <ng-template #requiredElement>
    <div *ngIf="showRequiredElementFlag"
         class="validation-element_required" [class.invalid]="formModel.invalid && (formModel.dirty || formModel.formDirective?.submitted || ng1Form?.$submitted)"></div>
  </ng-template>
</div>
