<div class="si-multiline {{class}}" [class.disabled]="disabled"
     [class.invalid]="formModel.invalid && (formModel.dirty || formModel.formDirective?.submitted)">
  <div class="d-flex">
    <div *ngIf="text"
         class="si-multiline_label margin-small-right">
      <label>{{ text | translate }}</label>
    </div>
    <div *ngIf="!text" class="col-12"></div>
    <div>
      <si-validation-element #validationElement [formModel]="formModel"></si-validation-element>
    </div>
  </div>
  <div class="si-multiline_textarea" siProvideParentForm>
    <textarea #formModel="ngModel"
              id="si-multiline-{{id}}"
              name="{{name}}"
              placeholder="{{placeholder | translate}}"
              [disabled]="disabled"
              [ngModel]="model"
              (ngModelChange)="onChangeModel($event)"
              siValidation="{{rule}}" [siValidationElement]="validationElement"
              rows="{{rows}}"></textarea>
  </div>
</div>
