@import '~src/scss/style-guide/style-guide-variables';

.si-multiline {

  &_label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1px;
    width: calc(100% - 50px);

    & label {
      font-size: $font13;
      text-transform: uppercase;
      color: $color-main1;
      font-family: $font-bold-condensed;
    }
  }

  &_textarea {
    position: relative;
    display: flex;

    textarea {
      width: 100%;
      font-family: $font-condensed;
      font-size: $font15;
      color: darken($color-lightgrey, 50);
      background-color: transparent;
      border: 1px solid $color-lightgrey;

      &::placeholder {
        font-family: $font-condensed-italic;
        color: lighten($color-darkgrey, 25%);
      }
    }
  }

  &.invalid {

    textarea {
      border-bottom: 2px solid $color-danger;
    }
  }
}

:host-context(.readmode) .si-multiline {

  &_label {

    label {
      color: darken($color-lightgrey, 20);
    }
  }

  &_textarea {

    textarea {
      pointer-events: auto;

      &::placeholder {
        color: darken($color-lightgrey, 20);
      }
    }
  }

  &.invalid {

    textarea {
      border-bottom: 1px solid $color-lightgrey;
    }
  }
}
