@import '../../../../scss/style-guide/style-guide-variables';

.top-bar {
  background-color: $color-black;
  color: $color-white;

  .row > div[class^="col-"] {
    height: $top-bar-height;
  }

  &_hamburguermenu{
    border: 0;
    background-color: transparent;
    color: $color-white;
    font-size: 24px;
    margin-right: 10px;
    line-height: 22px;
  }

  &_col-logo {
    width: 280px;
    font-family: roboto-black;
    font-size: 16px;
    padding-left: 10px;
    display: flex;
    align-items: center;

    a {
      color: $color-white;
      &:hover {
        text-decoration: none;
        color: darken( $color-white, 10);
      }
    }
  }

  &_logo {

  }
}
