<div class="container-fluid fixed-top top-bar">
  <div class="row">
    <div class="top-bar_col-logo">

      <button type="button" role="button" class="top-bar_hamburguermenu" (click)="toggleNavSidebar()">
        <i class="icon-hamburgermenu"></i>
      </button>

      <a [routerLink]="['/']" class="top-bar_logo">
        <!--<img src="./assets/images/logo_rvb.png" height="60"/> -->
        Título proyecto
      </a>
    </div>
    <div class="col-6 d-flex align-items-center">
      <rvb-breadcrumb></rvb-breadcrumb>
    </div>
    <div class="col-2 d-flex align-items-center justify-content-end">
      <rvb-translation></rvb-translation>
    </div>
  </div>
</div>
