@import '~src/scss/style-guide/style-guide-variables';

button, a {

  &.rvb-button {
    background-color: $color-white;
    color: $color-main1 !important;
    border-radius: 0.2rem !important;
    box-shadow: 0 0 6px 0 rgba(black, 0.3);
    font-family: $font-bold-condensed !important;
    border: none;
    text-transform: uppercase;
    font-size: 0.9rem !important;
    min-width: 6rem;
    padding: 0.2rem 1.1rem !important;
    cursor: pointer;
    display: initial !important;
    text-align: center;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }

    &:focus {
      outline: 0;
    }

    &:disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    &_main {
      @extend .rvb-button;
      background-color: $color-main1;
      color: $color-white !important;
    }

    &_secondary {
      @extend .rvb-button;
      background-color: lighten($color-darkgrey, 57%);
      color: $color-main1 !important;
    }

    &_secondary-white {
      @extend .rvb-button;
      background-color: $color-white;
      color: $color-darkgrey !important;
    }
  }
}

@media (max-width: map-get($media_breakpoints, lg)) {

  button, a {

    &.rvb-button {
      height: 30px;
      font-size: $font-small !important;
    }
  }
}
