@import "style-guide-variables";

@font-face {
  font-family: roboto-italic;
  src: url(~src/assets/fonts/ROBOTO-family/Roboto-Thin.ttf);
}

@font-face {
  font-family: roboto-thin;
  src: url(~src/assets/fonts/ROBOTO-family/Roboto-Thin.ttf);
}

@font-face {
  font-family: roboto-regular;
  src: url(~src/assets/fonts/ROBOTO-family/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-thin-italic;
  src: url(~src/assets/fonts/ROBOTO-family/Roboto-ThinItalic.ttf);
}

@font-face {
  font-family: roboto-medium;
  src: url(~src/assets/fonts/ROBOTO-family/Roboto-Medium.ttf);
}

@font-face {
  font-family: roboto-light;
  src: url(~src/assets/fonts/ROBOTO-family/Roboto-Light.ttf);
}

@font-face {
  font-family: roboto-condensed;
  src: url(~src/assets/fonts/ROBOTO-family/Roboto-Condensed.ttf);
}

@font-face {
  font-family: roboto-medium-italic;
  src: url(~src/assets/fonts/ROBOTO-family/Roboto-MediumItalic.ttf);
}

@font-face {
  font-family: roboto-light-italic;
  src: url(~src/assets/fonts/ROBOTO-family/Roboto-LightItalic.ttf);
}

@font-face {
  font-family: roboto-condensed-italic;
  src: url(~src/assets/fonts/ROBOTO-family/Roboto-CondensedItalic.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(~src/assets/fonts/ROBOTO-family/Roboto-Bold.ttf);
}

@font-face {
  font-family: roboto-black;
  src: url(~src/assets/fonts/ROBOTO-family/Roboto-Black.ttf);
}

@font-face {
  font-family: roboto-bold-condensed;
  src: url(~src/assets/fonts/ROBOTO-family/Roboto-BoldCondensed.ttf);
}

@font-face {
  font-family: roboto-bold-italic;
  src: url(~src/assets/fonts/ROBOTO-family/Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: roboto-black-italic;
  src: url(~src/assets/fonts/ROBOTO-family/Roboto-BlackItalic.ttf);
}

@font-face {
  font-family: roboto-bold-condensed-italic;
  src: url(~src/assets/fonts/ROBOTO-family/Roboto-BoldCondensedItalic.ttf);
}

.italic {
  font-family: $font-italic;
}

.thin {
  font-family: $font-thin;
}

.regular {
  font-family: $font-regular;
}

.thin-italic {
  font-family: $font-thin-italic;
}

.medium {
  font-family: $font-medium;
}

.light {
  font-family: $font-light;
}

.condensed {
  font-family: $font-condensed;
}

.medium-italic {
  font-family: $font-medium-italic;
}

.light-italic {
  font-family: $font-light-italic;
}

.condensed-italic {
  font-family: $font-condensed-italic;
}

.bold {
  font-family: $font-bold;
}

.bold-condensed {
  font-family: $font-bold-condensed;
}

.bold-italic {
  font-family: $font-bold-italic;
}

.black-italic {
  font-family: $font-black-italic;
}

.bold-condensed-italic {
  font-family: $font-bold-condensed-italic;
}
