@import "style-guide-variables";

ul {
  &[style-none], &.style-none {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  &[items-left] > li, &.items-left > li {
    float: left;
    position: relative;
  }
  &[items-margin] > li, &.items-margin > li {
    margin: 0 10px;
  }
}

.list__update--border {
  border: 2px solid $color-main1;
  &.error {
    border: 2px solid $color-danger;
  }
}

.list {
  color: rgba(black, 0.6);
  font-family: $font-condensed;

  i:hover {
    opacity: 0.7;
  }

  .list-header {
    background: darken($color-lightgrey, 15%);
    color: white;
    min-height: 25px;
    padding: 8px 0;

    > div {
      align-items: center;
      display: flex;
      overflow: hidden;
      padding: 0 10px;
      font-size: $font-small;
      border-right: 1px solid rgba(black, 0.1);
    }

    div:last-child {
      border-right: 0;
      min-width: 8%;
    }

  }

  .list-row {
    background: darken($color-lightgrey-soft, 5);
    font-size: 16px;
    min-height: 51px;
    padding: 8px 0;

    .overflow-visible {
      overflow: visible;
    }

    & > div {
      align-items: center;
      display: flex;
      overflow: hidden;
      padding: 0 10px;
      font-size: $font-small;
      border-right: 1px solid rgba(black, 0.1);
    }

    > div:last-child {
      border-right: 0;
      min-width: 8%;
    }

    .warning {
      font-family: $font-condensed;
      font-size: 12px;
      color: $color-danger;
    }

    .bold {
      font-family: $font-bold-condensed;
    }

    .uppercase {
      text-transform: uppercase;
    }

    .colored {
      color: $color-alert1;
    }

    .small {
      font-size: 12px;
    }

    .action {
      color: darken($color-lightgrey-soft, 20%);
      font-size: 11px;
      text-decoration: none;
      display: block;
      cursor: pointer;
    }

    .with-header {
      .header {
        font-size: 12px;
        font-family: $font-condensed;
      }
    }
  }

  .list-row:nth-child(odd) {
    background: lighten($color-lightgrey, 15%);
  }

  .list-row-dynamic {
    @extend .list-row;

    & > div {
      overflow: visible;

      & > * {
        width: 100%;
      }

      & > si-selector {
        font-size: 16px;
      }
    }
  }
}
