@import 'button';
@import 'font-style';
@import 'list';

.pointer {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
  opacity: 0.4;
}
