<div class="si-check {{class}}" [class.disabled]="disabled" siProvideParentForm>
  <label for="si-check-{{id}}" [tabindex]="disabled ? '-1' : '0'">
    <input type="checkbox"
           id="si-check-{{id}}"
           name="{{name}}"
           [ngModel]="model"
           (ngModelChange)="onChangeModel($event)">
    <div class="si-check_check"></div>
    <div class="si-check_check_focus"></div>
    <span *ngIf="text"
          class="si-check_label"
          [translate]="text"
    ></span>
  </label>
</div>
