/* You can add global styles to this file, and also import other style files */
@import "~src/scss/bootstrap/overwritten-variables";
@import "~src/scss/icons/icons";
@import "~src/scss/primeng/overwritten-primeng-styles";
@import "~src/scss/style-guide/style-guide";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import '~ngx-toastr/toastr-bs4-alert';

* {
  outline: none;
}

*:visited {
  outline: none;
}

body {
  height: 100vh;
  overflow-x: hidden;
  font-family: roboto-regular, "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.container {
  margin-top: $top-bar-height;

  h1 {
    color: $color-main1;
    background-color: $color-lightgrey-soft;
    font-size: $paragraph5;
    font-weight: normal;
    padding: $pad-medium;
    border-bottom: $color-lightgrey;
    box-shadow: 0px 1px 8px 0px rgba(173, 187, 197, 0.5);
  }

  .content {
    padding: $pad-medium;

    .card {
      background-color: $color-lightgrey-soft;
      box-shadow: 5px 5px 8px -5px rgba(173, 187, 197, 0.5);
      border-radius: 4px;
      border: none;
      padding: $pad-medium;
      margin-bottom: $margin-medium;
    }

    si-table {

      .ui-table {

        table {
          width: initial;
          min-width: 100%;
        }

        &.ui-table-resizable {

          > .ui-table-wrapper {
            overflow-x: auto;
          }
        }

        .ui-table-thead > tr > th,
        .ui-table-tfoot > tr > td {
          background-color: $color-main1;
        }

        .ui-table-tbody > tr:not(.si-table_row_expansion):not(.si-table_frozen_row_expansion) {
          background-color: $color-lightgrey;

          &:hover {
            background-color: $color-lightgrey !important;

            &:nth-child(even) {
              background-color: lighten($color-lightgrey, 5) !important;
            }
          }
        }

        .ui-table-tbody > tr:not(.si-table_row_expansion):not(.si-table_frozen_row_expansion):nth-child(even) {
          background-color: lighten($color-lightgrey, 5);
        }
      }
    }
  }
}
