@import '~src/scss/style-guide/style-guide-variables';

si-table {

  .ui-table {

    &.ui-table-resizable {

      > .ui-table-wrapper {
        overflow-x: visible;
      }

      .ui-table-tbody > tr > td {
        text-overflow: ellipsis;

        & > div > span {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          display: block;
        }

        &.si-table_td_checkbox {
          overflow: visible;
        }

        &.si-table_row_center {
          text-align: center;
        }
      }
    }

    .ui-sortable-column .ui-sortable-column-icon {
      color: $color-white;
    }

    .si-table_header_checkbox {
      height: 30px;
    }

    .si-table_header_cell {
      display: flex;

      span {
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .si-table_row-hover {
      background-color: red !important;
    }

    .si-table_row_actions {
      display: flex;
      align-items: center;
      justify-content: center;
      height: inherit;

      i {
        margin: 0 5px;
      }
    }

    .si-table-row-check {
      &_header {
        font-size: 16px;
        width: 34px;
      }
    }

    .si-table_row_toggler {
      font-size: 20px;
      color: $color-main1;

      i {
        display: flex;
        justify-content: center;
        cursor: pointer;
      }

      &-header {
        width: 2.25em
      }
    }

    .si-table_frozen_row_expanded {
      background-color: lighten($color-lightgrey, 3%) !important;
    }

    .si-table_frozen_row_expansion {
      background-color: lighten($color-lightgrey, 17%) !important;

      &_detail_col {
        height: 50px;
        cursor: default !important;
      }

      &_detail_frozen {
        background-color: lighten($color-lightgrey, 17%) !important;
        border-bottom: 0.5px solid $border-color !important;
        padding: 0 1em;
        height: 50px;
        font-family: $font-condensed !important;
        color: $color-darkgrey;
        font-size: $font13;
        align-items: center;
        display: flex;
      }
    }


    .si-table_row_expanded {
      background-color: lighten($color-lightgrey, 3%) !important;
    }

    .si-table_row_expansion {
      cursor: default !important;
      background-color: lighten($color-lightgrey, 17%) !important;
      color: $color-darkgrey !important;

      td {
        padding: 15px;
        padding-left: 70px;
        border-left: none;
        border-right: none;
      }

      &_block {
        margin-right: 40px;

        &_title {
          font-family: $font-bold;
          text-align: right;
          margin-right: 5px;
        }
      }
    }

    .ui-table-thead > tr > th {
      position: -webkit-sticky;
      position: sticky;
      top: -1px;
      border-width: 0 1px 0 0;
      border-color: rgba(0, 0, 0, 0.1);
      z-index: 1;
      min-height: 30px;
      white-space: nowrap;
    }

    .ui-table-thead > tr > th,
    .ui-table .ui-table-tfoot > tr > td {
      background: darken($color-lightgrey, 15%);
      color: $color-white;
      font-weight: normal;
    }

    .ui-table-tbody > tr:not(.si-table_row_expansion):not(.si-table_frozen_row_expansion) {
      background: darken($color-lightgrey-soft, 5);
      height: 50px;

      &.si-table_row_hover:hover {
        background: $color-lightgrey !important;
        cursor: pointer !important;

        &:nth-child(even) {
          background-color: $color-lightgrey !important;
          cursor: pointer !important;
        }
      }

      &:hover {
        background-color: darken($color-lightgrey-soft, 5) !important;
        cursor: default !important;

        &:nth-child(even) {
          background-color: lighten($color-lightgrey, 15%) !important;
          cursor: default !important;
        }
      }

      &.ui-state-highlight {
        // TODO hacer que el color solo salga al abrir el panel
        //background-color: rgba(54, 164, 208, 0.2)
      }

      &:nth-child(even) {
        background: lighten($color-lightgrey, 15%);

        &.ui-state-highlight {
          // TODO hacer que el color solo salga al abrir el panel
          //background-color: rgba(54, 164, 208, 0.2)
        }
      }

      & > td {
        border-left: 0;
        border-bottom: 0;
        border-top: 0;
        border-right: 1px solid rgba($color-black, 0.1);
        white-space: nowrap;

        &:last-child {
          border-right: 0;
        }

        &.si-table_row-wrap {
          white-space: initial;
        }
      }
    }

    table {
      border-collapse: separate;
      border-spacing: 0;
    }

    td,
    th {
      font-family: $font-condensed !important;
      color: $color-darkgrey;
      font-size: $font-medium;
    }

    td {
      vertical-align: middle;

      &.si-table_td-overflow {
        overflow: visible;
        padding: .8em .5em;
      }
    }

    .ui-table-scrollable-wrapper {

      .ui-table-frozen-view {
        z-index: 2;
        position: relative;
        -webkit-box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.7);
        box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.7);
      }

      .ui-table-scrollable-header {
        background: darken($color-lightgrey, 15%);
      }
    }

    .ui-sortable-column {

      &.ui-state-highlight {
        background: darken($color-lightgrey, 15%);
      }

      &-icon {
        font-family: 'icons';

        &.pi-sort::before, &.pi-sort-down::before {
          content: '\e986';
        }

        &.pi-sort-up::before {
          content: '\eabf';
        }
      }
    }

    .ui-paginator {

      &.ui-widget-header {
        background: lighten($color-lightgrey, 13%);
        width: 343px;
        margin: 0 auto;
        color: $color-darkgrey;
        border: 0;
        border-radius: 0.2rem;
        margin-top: 1.5rem;
        display: flex;
      }

      a,
      .ui-paginator-pages {
        color: $color-darkgrey;
        font-size: 1rem;
        font-family: $font-condensed;
        line-height: 1.2;
      }

      .ui-paginator-pages {
        margin: 0 0 0 auto;

        a {
          margin: 0 0.5rem;
          padding: 0.45rem 0.5rem;
          line-height: 0.7em;
          min-width: 1.5em;

          &:hover {
            color: $color-white;
            background-color: $color-main1;
            border-radius: 0.3rem;
          }
        }
      }

      .ui-state-default {
        background: transparent;
        border: 0;
        border-radius: 0;
        margin: 0;
        padding: 0 1rem;

        span {

          &::before {
            font-size: 0.7rem;
            color: $color-main1;
          }
        }

        &.ui-paginator-first {
          border-right: 1px solid darken($color-lightgrey, 5);
          float: left;

          span {

            &::before {
              content: '\eb09';
              font-family: 'icons';
            }
          }
        }

        &.ui-paginator-prev {
          border-right: 1px solid darken($color-lightgrey, 5);
          float: left;

          span {

            &::before {
              content: '\eb0b';
              font-family: 'icons';
            }
          }
        }

        &.ui-paginator-next {
          border-left: 1px solid darken($color-lightgrey, 5);
          margin-left: auto;

          span {

            &::before {
              content: '\eb0c';
              font-family: 'icons';
            }
          }
        }

        &.ui-paginator-last {
          border-left: 1px solid darken($color-lightgrey, 5);
          float: right;

          span {

            &::before {
              content: '\eb0a';
              font-family: 'icons';
            }
          }
        }
      }

      .ui-paginator-page.ui-state-active {
        color: $color-main1;
        background-color: transparent;
        border: 1px solid $color-main1;
        border-radius: 0.3rem;
        padding: 0.43rem;
      }

      .ui-state-disabled, .ui-widget:disabled {
        opacity: 1;

        .ui-paginator-icon::before {
          opacity: 0.3;
        }
      }

      p-dropdown {
        position: absolute;
        float: right;
        right: 0;
        display: flex;
        align-items: center;
        bottom: 0;
        font-size: 1rem;

        & > div {
          margin: 0 0.5rem;
        }

        .ui-dropdown {
          max-width: 56px;
          background-color: $color-lightgrey-soft;
          border-radius: 0.3rem;
          padding: 0 0.5rem;

          .ui-widget-content {
            border: 0;
            color: $color-darkgrey;
          }

          &.ui-state-focus, .ui-multiselect.ui-state-focus {
            box-shadow: 0 0 0 transparent;

            .ui-dropdown-trigger .ui-dropdown-trigger-icon {

              &::before {
                color: $color-main1;
              }
            }
          }

          label.ui-dropdown-label {
            background-color: transparent;
            color: $color-darkgrey;
          }

          .ui-dropdown-trigger {

            .ui-dropdown-trigger-icon {
              margin-top: -.7em;

              &::before {
                content: "\e986";
                font-family: 'icons';
                position: absolute;
                color: $color-darkgrey;
                font-size: 0.95em;
              }
            }
          }

          .ui-dropdown-panel {
            border-radius: 0;

            .ui-dropdown-items-wrapper {

              .ui-dropdown-item {
                text-align: center;
              }

              .ui-state-highlight {
                background-color: $color-main1;
              }
            }
          }
        }
      }
    }

    p-tableHeaderCheckbox, p-tableCheckbox {
      display: flex;
      justify-content: center;

      .ui-chkbox {
        margin-right: 0;

        .ui-state-default {
          border: 2px solid rgba(0, 0, 0, .54);
          transition: background 0.25s linear;
          -webkit-transition: background 0.25s linear;
        }

        .ui-chkbox-box.ui-state-active {
          border: 2px solid $color-main1;
          background: $color-main1 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgdmVyc2lvbj0iMS4xIgogICB2aWV3Qm94PSIwIDAgMSAxIgogICBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWluWU1pbiBtZWV0Ij4KICA8cGF0aAogICAgIGQ9Ik0gMC4wNDAzODA1OSwwLjYyNjc3NjcgMC4xNDY0NDY2MSwwLjUyMDcxMDY4IDAuNDI5Mjg5MzIsMC44MDM1NTMzOSAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IE0gMC4yMTcxNTcyOSwwLjgwMzU1MzM5IDAuODUzNTUzMzksMC4xNjcxNTcyOSAwLjk1OTYxOTQxLDAuMjczMjIzMyAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IgogICAgIGlkPSJyZWN0Mzc4MCIKICAgICBzdHlsZT0iZmlsbDojZmZmZmZmO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lIiAvPgo8L3N2Zz4K);
          transition: background 0.25s linear;
          -webkit-transition: background 0.25s linear;
        }
      }
    }
  }
}

@media (max-width: map-get($media_breakpoints, md)) {

  si-table {

    .ui-table {

      .ui-paginator {

        &.ui-widget-header {
          margin-bottom: 35px;
        }

        p-dropdown {
          bottom: -37px;
          transform: translateX(50%);
          right: 50%;
        }
      }
    }
  }
}
