<div class="si-label">
  <label *ngIf="text">{{ text | translate }}</label>
  <i *ngIf="tooltipText"
     class="si-label_icon margin-small-left font-color-main1 font12"
     [ngClass]="tooltipIcon"
     pTooltip="{{tooltipText | translate}}"
     tooltipPosition="{{tooltipPosition}}">
  </i>
</div>
