@import '~src/scss/style-guide/style-guide-variables';

.si-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 1px;
  height: 21px;

  label{
    font-size: $font13;
    text-transform: uppercase;
    color: $color-main1;
    font-family: $font-bold-condensed;
  }
}
:host-context(.si-input_small-label) .si-label {
  height: 5px;
}

:host-context(.readmode) .si-label {

  &_icon {
    pointer-events: all !important;
  }

  label {
    color: darken($color-lightgrey, 20);
  }
}

