<div class="conf-training-team-list-page">
  <h1>{{'RVB_TRAINING_TEAM' | translate}}</h1>
  <div class="content">
    <div class="card">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <si-input id="codeFilter"
                    name="codeFilter"
                    text="RVB_CODE"
                    placeholder="RVB_WRITE_HERE"
                    [(model)]="filters.codigo"
          ></si-input>
        </div>
        <div class="col-12 col-sm-6 col-md-9">
          <si-input id="descriptionFilter"
                    name="descriptionFilter"
                    text="RVB_DESCRIPTION"
                    placeholder="RVB_WRITE_HERE"
                    [(model)]="filters.nombre"
          ></si-input>
        </div>
      </div>
      <div class="row justify-content-end mt-2">
        <div class="col-auto">
          <button class="rvb-button_secondary mr-2" (click)="cleanFilters()">{{'RVB_CLEAR' | translate}}</button>
          <button class="rvb-button" (click)="applyFilters()">{{'RVB_SEARCH' | translate}}</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="d-flex justify-content-end mb-2">
        <a routerLink="../create" class="rvb-button_main">{{'RVB_NEW' | translate}}</a>
      </div>
      <si-table [reset]="resetTable"
                path="/biobancos/equipocaptacion?codigo={{filters.codigo}}&nombre={{filters.nombre}}">
        <p-table #pTable dataKey="id">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="codigo" pResizableColumn style="width: 25%">
                <div class="si-table_header_cell">
                  <span translate="RVB_CODE"></span>
                  <p-sortIcon field="codigo"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="nombre" pResizableColumn>
                <div class="si-table_header_cell">
                  <span translate="RVB_DESCRIPTION"></span>
                  <p-sortIcon field="nombre"></p-sortIcon>
                </div>
              </th>
              <th class="text-center" style="width: 80px">
                <span translate="RVB_ACTIONS"></span>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item class="ui-resizable-column">
            <tr>
              <td>{{item.codigo}}</td>
              <td>{{item.nombre}}</td>
              <td class="si-table_row_actions">
                <rvb-go-to-route-icon [href]="['../', item.id, 'update']"
                                      icon="icon-pencil font-color-main1"
                                      tooltip="RVB_EDIT"
                ></rvb-go-to-route-icon>
                <rvb-delete-icon tooltip="RVB_DELETE"
                                 path="/biobancos/equipocaptacion/{{item.id}}"
                                 titleDialog="RVB_DELETE_ITEM_TITLE"
                                 (updateChange)="onDeleteItem()"
                ></rvb-delete-icon>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </si-table>
    </div>
  </div>
</div>
